%h2.sb-heading1 Sidebar

%ul.sb-nav
  %li
    %a{href: "/styleguide/buttons"} Buttons
  %li
    %a{href: "/styleguide/panes.html"} Panes &amp; Wells
  %li
    %a{href: "/"} Link 3
  %li
    %a{href: "#"} Link 4

%h2.sb-heading2 Sidebar heading level two
%h3.sb-heading3 Sidebar heading level three

.sb-well.sb-well--padded
  %ul.btn-group-vertical
    %li
      %a.btn{href: "#"} Btn option 1
    %li
      %a.btn{href: "#"} Btn option 1
    %li
      %a.btn{href: "#"} Btn option 1
    %li
      %a.btn{href: "#"} Btn option 1

.acc
  %h2.acc__trigger
    %i.interfaces-caret-right
    .acc__tirgger__title
      Click on me yo
  .acc__panel
    .acc__panel__inner
      Pancetta strip steak t-bone prosciutto biltong ham hock salami meatloaf chicken shoulder drumstick andouille flank pig.
  
  %h2.acc__trigger
    %i.interfaces-caret-right
    .acc__tirgger__title
      Click on me yo
  .acc__panel
    .acc__panel__inner
      Pancetta strip steak t-bone prosciutto biltong ham hock salami meatloaf chicken shoulder drumstick andouille flank pig.

  %h2.acc__trigger
    %i.interfaces-caret-right
    .acc__tirgger__title
      Click on me yo
  .acc__panel
    .acc__panel__inner
      Pancetta strip steak t-bone prosciutto biltong ham hock salami meatloaf chicken shoulder drumstick andouille flank pig.    
