<table class="table">
  {{#icon_modified}}
    <tr>
      <td class="icon-demo"><span class="interfaces {{modifier}}"></span></td>
      <td><code>interfaces {{modifier}}</code></td>
      <td>{{description}}</td>
    </tr>
  {{/icon_modified}}
</table>