<ul class="btn-group">
  <li>
    <label class="btn btn--checkbox selected" for="{{first}}">
      {{first}}
      <input type="checkbox" name="{{first}}" id="{{first}}" />
    </label>
  </li>
  <li>
    <label class="btn btn--checkbox" for="{{second}}">
      {{second}}
      <input type="checkbox" name="{{second}}" id="{{second}}" />
    </label>
  </li>
  <li>
    <label class="btn btn--checkbox" for="{{third}}">
      {{third}}
      <input type="checkbox" name="{{third}}" id="{{third}}" />
    </label>
  </li>
</ul>
