<ul class="btn-group">
  <li>
    <label class="btn btn--checkbox selected" for="cool_checkbox">
      {{first}}
      <input type="checkbox" name="cool_checkbox" id="cool_checkbox" />
    </label>
  </li>
  <li>
    <label class="btn btn--checkbox" for="uncool_checkbox">
      {{second}}
      <input type="checkbox" name="uncool_checkbox" id="uncool_checkbox" />
    </label>
  </li>
  <li>
    <label class="btn btn--checkbox" for="neither_checkbox">
      {{third}}
      <input type="checkbox" name="neither_checkbox" id="neither_checkbox" />
    </label>
  </li>
</ul>
