<table class="table">
  {{#button_modifiers}}
  <tr>
    <td> {{> _button_outline}} </td>
    <td>
      <pre>
        <code> btn btn--outline {{modifier}} </code>
      </pre>
    </td>
    <td> {{description}} </td>
  </tr>
  {{/button_modifiers}}
</table>
