@import "interfaces/attributes/pointable"
@import "interfaces/preset/_list_item_base"

$class: '.dropdown-menu-item'

#{$class}
  @extend %list-item-base

  @include pointable

  display: block
  padding: 8px 16px
  border-width: 0
  white-space: nowrap

#{$class}:hover
  background: #eee
