@import "interfaces/core/variables"
@import "interfaces/core/utilities"
@import "interfaces/preset/grid_cols"

$palm-gutter: 15px
$tab-gutter: 15px
$gutter: 20px

.row
  position: relative
  +cf
  &.row-pad
    padding: $gutter 0 $gutter $gutter
    & > [class*='col-']:last-of-type
      padding-right: $gutter

// so?
.dont-dbl-my-gutters
  .row:last-of-type
    .col
      margin-bottom: 0

.col
  margin-bottom: 15px
  position: relative

+breakpoint(lte_palm)
  .palm--end
    padding-right: 0 !important

  [class*="palm--"]
    float: left
    padding-right: $palm-gutter
    &:last-of-type
      padding-right: 0

  .palm--full
    padding: 0
    clear: both

+breakpoint(bp_1)
  [class*="col--"]
    float: left
    padding-right: $gutter
    &:last-of-type
      padding-right: 0

+breakpoint(bp_1)
  +breakpoint(lte_tablet-wide)
    .tab--end
      padding-right: 0 !important

    [class*="tab--"]
      padding-right: $tab-gutter
      float: left
      &:last-of-type
        padding-right: 0

    .tab--full
      padding: 0
      clear: both
