//======================================================
// All rules pertaining to screens greater than 47.95em or ~767px
//======================================================
@media (min-width: 768px) {
  //======================================Layout
  .left-off-canvas {
    position: relative;
    float: left;
    width: $sidebar-width-med-screen;
    margin: 0 0 0 ($sidebar-width-med-screen * -1);
    left: $sidebar-width-med-screen;
  }

  //UTILITIES
  .showformobile {
    display: none !important;
  }
}
