//======================================================
// All rules pertaining to screens greater than 100em or ~1600px
//======================================================
@media (min-width: 100em) {
  //======================================Layout

  .left-off-canvas {
    width: $sidebar-width-big-screen;
    margin: 0 0 0 ($sidebar-width-big-screen * -1);
    left: $sidebar-width-big-screen;
  }
}
