<table class="table">
  {{#table_modified}}
  <tr>
    <td>
      <code> table {{modifier}} </code>
    </td>
    <td> {{description}} </td>
  </tr>
  {{/table_modified}}
</table>
<br/><br/>
{{#table_modified}}
<div class="row">
  <div class="col">
    <h4>{{style}}</h4>
    {{> _table_modified}}
  </div>
</div>
{{/table_modified}}
