{{#table_modified}}
<row>
  <col>
    <h4>{{style}}</h4>
    {{> _table_modified}}
  </col>
</row>

</br>
</br>
{{/table_modified}}

<table class="table">
  {{#table_modified}}
  <tr>
    <td>
      <code> table {{modifier}} </code>
    </td>
    <td> {{description}} </td>
  </tr>
  {{/table_modified}}
</table>
