@import "interfaces/core/utilities"

.alert__heading
  font-size: 1.8rem
  margin: 0 auto .4em

.alert__sub-heading
  font-size: 1.5rem
  margin: 0 auto .3em

.alert
  position: relative
  +cf

  ul, p
    +font-size(13)

  p:last-of-type
    margin-bottom: 0

  ul
    padding-top:  1em
    padding-left: 1em
    margin-left: .5em

    li
      padding: 0.3em 0.5em 0.3em 0
      border-bottom: 1px solid transparent

      &:first-child
        padding-top: 0

      &:last-child
        padding-bottom: 0
        border-bottom: 0

.alert--small
  padding: .8rem 1.5rem

.reveal-modal .alert
  margin: 0
  border: 0
