body
  height: 100%
  font-size: 14px
  color: $base-font-color


@media (min-width: 100em)
  body
    height: 100%

  body
    background: $bg-color
    max-width: $max-site-width
    margin: 0 auto
    min-height: 100%
    position: static
