.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.checkbox:checked + label:before {
  box-shadow: none;
}

.checkbox:checked + label:after {
  font-family: 'interfaces';
  font-size: 8px;
  line-height: .9;
  margin-top: -.3em;
  content: '\e624';
  -webkit-transition: all .1s;
  transition: all .1s;
  text-align: center;
  color: white;
}
