h1 {
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  position: relative;
  margin: 0;
  margin-bottom: 6.25px;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h1:before,
h1:after {
  display: table;
  content: ' ';
}

h1:after {
  clear: both;
}

h1 h1 small,
h1 h2 small,
h1 h3 small,
h1 h4 small,
h1 h5 small,
h1 h6 small {
  font-size: 60%;
  line-height: 0;
  color: #6f6f6f;
}
