h2 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  position: relative;
  margin: 0;
  margin-bottom: 6.25px;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h2:before,
h2:after {
  display: table;
  content: ' ';
}

h2:after {
  clear: both;
}

h2 h1 small,
h2 h2 small,
h2 h3 small,
h2 h4 small,
h2 h5 small,
h2 h6 small {
  font-size: 60%;
  line-height: 0;
  color: #6f6f6f;
}
