h4 {
  font-size: 1.6;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  position: relative;
  margin: 0;
  margin-bottom: 6.25px;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h4:before,
h4:after {
  display: table;
  content: ' ';
}

h4:after {
  clear: both;
}

h4 h1 small,
h4 h2 small,
h4 h3 small,
h4 h4 small,
h4 h5 small,
h4 h6 small {
  font-size: 60%;
  line-height: 0;
  color: #6f6f6f;
}
