h6 {
  font-size: 1.6;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  position: relative;
  margin: 0;
  margin-bottom: 6.25px;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h6:before,
h6:after {
  display: table;
  content: ' ';
}

h6:after {
  clear: both;
}

h6 h1 small,
h6 h2 small,
h6 h3 small,
h6 h4 small,
h6 h5 small,
h6 h6 small {
  font-size: 60%;
  line-height: 0;
  color: #6f6f6f;
}
