.has-icon-right {
  position: relative;
  padding-right: 32px;
}

.has-icon-right > .icon {
  line-height: 32px;
  position: absolute;
  top: 50%;
  right: 0;
  width: 32px;
  height: 32px;
  margin-top: -15px;
  text-align: center;
}

.has-icon-right > .icon > span {
  margin: 0;
}
