.main-wrap {
  height: 100%;
}

.main-wrap:before {
  position: relative;
  width: 100%;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.main-wrap:before:before,
.main-wrap:before:after {
  display: table;
  content: ' ';
}

.main-wrap:before:after {
  clear: both;
}

.left-off-canvas-active .main-wrap:before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
