.main-section .page-section {
  position: relative;
  margin: 25px auto;
}
.main-section .page-section:before, .main-section .page-section:after {
  display: table;
  content: " ";
}
.main-section .page-section:after {
  clear: both;
}
