.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.radio:checked + label:before {
  box-shadow: none;
}

.radio:checked + label:after {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 6px;
  height: 6px;
  margin-top: -2px;
  content: '';
  -webkit-transition: all .1s;
  transition: all .1s;
  border-radius: 30px;
  background: white;
}
