//Nothing in the modules directory should output css directly. 
//This directory is reserved for variables, placeholders etc.
$basecolor:        #4573ad !default
$backgroundcolor:  #ececec !default
$basefontcolor:    #333 !default
$accentcolor1:     #4573ad !default
$successcolor:     #6FB454 !default
$dangercolor:      #d65440 !default

//Buttons and other alerts


// Links
// color: saturate(darken($linkcolor, 7), 4)
$linkcolor: $basecolor !default
$linkcolorhover: saturate(darken($linkcolor, 7), 4) !default
$linkcolorfocus: saturate(darken($linkcolor, 15), 5) !default

// grayscale
$black: rgb(0, 0, 0) !default
$darkgray: lighten($black, 25%) !default
$gray: lighten($black, 50%) !default
$lightgray: lighten($black, 75%) !default
$lightergray: lighten($black, 90%) !default


