//Nothing in the modules directory should output css directly. 
//This directory is reserved for variables, placeholders etc.

//===============
//  ICON FONT
//===============
$fontname: accounts !default

//===============
//  COLORS
//===============
//this is the main headr color for the app
$basecolor:          #a1311e !default
$bgcolor:            #ffffff !default
$sidebgcolor:        #f1f1f1 !default
$basefontcolor:      #333333 !default
$accentcolor1:       #4573ad !default
//override this for tighter control over form focus states
$formcolor:          $basecolor !default
$formcolor:          #d1a035


// Buttons and other alerts
$primarybtncolor:  $basecolor !default
$successcolor:     #6FB454 !default
$dangercolor:      #d65440 !default


// Links
$linkcolor: $basecolor !default
$linkcolorhover: saturate(darken($linkcolor, 7), 4) !default
$linkcolorfocus: saturate(darken($linkcolor, 15), 5) !default

//NAV Highlights
$highlightedbgcolor:  saturate(lighten($linkcolor, 47), 1) !default
$highlightedcolor:    $linkcolorhover !default

// Grayscale
$black: rgb(0, 0, 0) !default
$darkgray: lighten($black, 25%) !default
$gray: lighten($black, 50%) !default
$lightgray: lighten($black, 75%) !default
$lightergray: lighten($black, 90%) !default


