.doc-section {
  padding: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 30px;
}

.doc-section:last-child {
  border-bottom-width: 0;
}

.doc-section:first-child {
  padding-top: 0;
}
