<style>
  .flex-stack * { background-color: #ddd }
</style>

<h1> Flex helpers </h1>

<p> There are a couple flex helpers that make layout a breeze. </p>

<hr />

<h3><code>.flex-stack</code></h3>

<p> .flex-stack is a great starting place most of the time. It provides a flex container, and sizes direct children to be flex: 1 by default. Each direct child is stacked on mobile. You may use any of the classe on this page to further customize .flex-stack.</p>

<h4> Default stacks of 2 and 4 </h4>

<%= code_sample do %>
<div class="flex-stack p_2r">
  <div>two</div>
  <div>two</div>
</div>
<% end %>

<br />

<h4> bigger/small content boxes</h4>

<%= code_sample do %>
<div class="flex-stack p_2r">
  <div>default</div>
  <div class="f-4">.f-4</div>
</div>
<% end %>
