<div class="tab-content-group">
  <div class="tab-content">
    Information SO epic you decided to hide it most of the time.
  </div>

  <div class="tab-content is-open">
    At least this one is shown by default.
  </div>
</div>
