%h2.sb-heading1 Sidebar

%ul.sb-nav
  %li
    %a{href: "#"} Link 1
  %li
    %a{href: "#"} Link 2
  %li
    %a{href: "#"} Link 3
  %li
    %a{href: "#"} Link 4

%h2.sb-heading2 Sidebar heading level 2
%h3.sb-heading3 Sidebar heading level 2

.sb-well.sb-well--padded
  %ul.btn-group-vertical
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
