%h2.sb-heading1 Sidebar

%ul.sb-nav
  %li
    %a{href: "/buttons.html"} buttons
  %li
    %a{href: "/"} Link 2
  %li
    %a{href: "/"} Link 3
  %li
    %a{href: "#"} Link 4

%h2.sb-heading2 Sidebar heading level 2
%h3.sb-heading3 Sidebar heading level 2

.sb-well.sb-well--padded
  %ul.btn-group-vertical
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1

.acc
  %h2.acc__trigger
    %i.pco-ui-caret-right
    .acc__tirgger__title
      Click on me yo
  .acc__panel
    Pancetta strip steak t-bone prosciutto biltong ham hock salami meatloaf chicken shoulder drumstick andouille flank pig.
  
  %h2.acc__trigger
    %i.pco-ui-caret-right
    .acc__tirgger__title
      Click on me yo
  .acc__panel
    Pancetta strip steak t-bone prosciutto biltong ham hock salami meatloaf chicken shoulder drumstick andouille flank pig.

  %h2.acc__trigger
    %i.pco-ui-caret-right
    .acc__tirgger__title
      Click on me yo
  .acc__panel
    Pancetta strip steak t-bone prosciutto biltong ham hock salami meatloaf chicken shoulder drumstick andouille flank pig.    

%h2.sb-heading1 Sidebar

%ul.sb-nav
  %li
    %a{href: "/buttons.html"} buttons
  %li
    %a{href: "/"} Link 2
  %li
    %a{href: "/"} Link 3
  %li
    %a{href: "#"} Link 4

%h2.sb-heading2 Sidebar heading level 2
%h3.sb-heading3 Sidebar heading level 2

.sb-well.sb-well--padded
  %ul.btn-group-vertical
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1

.acc
  %h2.acc__trigger
    %i.pco-ui-caret-right
    .acc__tirgger__title
      Click on me yo
  .acc__panel
    Pancetta strip steak t-bone prosciutto biltong ham hock salami meatloaf chicken shoulder drumstick andouille flank pig.
  
  %h2.acc__trigger
    %i.pco-ui-caret-right
    .acc__tirgger__title
      Click on me yo
  .acc__panel
    Pancetta strip steak t-bone prosciutto biltong ham hock salami meatloaf chicken shoulder drumstick andouille flank pig.

  %h2.acc__trigger
    %i.pco-ui-caret-right
    .acc__tirgger__title
      Click on me yo
  .acc__panel
    Pancetta strip steak t-bone prosciutto biltong ham hock salami meatloaf chicken shoulder drumstick andouille flank pig.    
%h2.sb-heading1 Sidebar

%ul.sb-nav
  %li
    %a{href: "/buttons.html"} buttons
  %li
    %a{href: "/"} Link 2
  %li
    %a{href: "/"} Link 3
  %li
    %a{href: "#"} Link 4

%h2.sb-heading2 Sidebar heading level 2
%h3.sb-heading3 Sidebar heading level 2

.sb-well.sb-well--padded
  %ul.btn-group-vertical
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1
    %li
      %a.btn.btn-secondary{href: "#"} Btn option 1

.acc
  %h2.acc__trigger
    %i.pco-ui-caret-right
    .acc__tirgger__title
      Click on me yo
  .acc__panel
    Pancetta strip steak t-bone prosciutto biltong ham hock salami meatloaf chicken shoulder drumstick andouille flank pig.
  
  %h2.acc__trigger
    %i.pco-ui-caret-right
    .acc__tirgger__title
      Click on me yo
  .acc__panel
    Pancetta strip steak t-bone prosciutto biltong ham hock salami meatloaf chicken shoulder drumstick andouille flank pig.

  %h2.acc__trigger
    %i.pco-ui-caret-right
    .acc__tirgger__title
      Click on me yo
  .acc__panel
    Pancetta strip steak t-bone prosciutto biltong ham hock salami meatloaf chicken shoulder drumstick andouille flank pig.            