@import "interfaces/mixin/legacy_queries";

.col {
  width: 100%;
}

@include breakpoint(lte_palm) {
  .palm--hide {
    display: none !important;
  }

  .palm--full {
    width: 100%;
  }

  .palm--half {
    width: 50%;
  }

  //thirds
  .palm--third {
    width: 33.3%;
  }

  .palm--two-thirds {
    width: 66.6%;
  }

  // quarters
  .palm--quarter {
    width: 25%;
  }

  .palm--three-quarters {
    width: 75%;
  }

  // fifths
  .palm--fifth {
    width: 20%;
  }

  .palm--two-fifths {
    width: 40%;
  }

  .palm--three-fifths {
    width: 60%;
  }

  .palm--four-fifths {
    width: 80%;
  }
}


@include breakpoint(bp_1) {
  .col--half {
    width: 50%;
  }

  //thirds
  .col--third {
    width: 33.3%;
  }

  .col--two-thirds {
    width: 66.6%;
  }

  // quarters
  .col--quarter {
    width: 25%;
  }

  .col--three-quarters {
    width: 75%;
  }

  // fifths
  .col--fifth {
    width: 20%;
  }

  .col--two-fifths {
    width: 40%;
  }

  .col--three-fifths {
    width: 60%;
  }

  .col--four-fifths {
    width: 80%;
  }
}


@include breakpoint(bp_1) {
  @include breakpoint(lte_tablet-wide) {
    .tab--full {
      width: 100%;
    }

    .tab--half {
      width: 50%;
    }

    //thirds
    .tab--third {
      width: 33.3%;
    }

    .tab--two-thirds {
      width: 66.6%;
    }

    // quarters
    .tab--quarter {
      width: 25%;
    }

    .tab--three-quarters {
      width: 75%;
    }

    // fifths
    .tab--fifth {
      width: 20%;
    }

    .tab--two-fifths {
      width: 40%;
    }

    .tab--three-fifths {
      width: 60%;
    }

    .tab--four-fifths {
      width: 80%;
    }
  }
}


@include breakpoint(bp_3) {
  .desk--full {
    width: 100%;
  }

  .desk--half {
    width: 50%;
  }

  //thirds
  .desk--third {
    width: 33.3%;
  }

  .desk--two-thirds {
    width: 66.6%;
  }

  // quarters
  .desk--quarter {
    width: 25%;
  }

  .desk--three-quarters {
    width: 75%;
  }
}
