.account-switcher-organization-item {
  transition: background-color .2s ease-in-out;
  border-bottom: 1px solid #e5e5e5 !important;
}

.account-switcher-organization-item,
.account-switcher-organization-item_link {
  font-size: 12px !important;
  width: 100%;
  color: #565656 !important;
}

.account-switcher-organization-item_link {
  padding: 14px 14px !important;
}

.account-switcher-organization-item_link:hover {
  background-color: rgba(0, 0, 0, .03);
}

@media (min-width: 979px) {
  .account-switcher-item_link-name {
    display: none !important;
  }
}
