.account-switcher_action {
  font-size: 12px;
  display: table-cell;
  transition: all .12s ease-in;
  text-align: center;
  color: #666 !important;
}

.account-switcher_action + .account-switcher_action {
  border-left: 1px solid rgba(0, 0, 0, .1);
}

.account-switcher_action:hover {
  background-color: rgba(0, 0, 0, .03);
}
