@import "interfaces/variables"

.list--actionable
  .list-item
    color: $primary-btn-color

// Depends on modernizr
.no-touchevents .list-item--actionable,
.no-touchevents .list--actionable .list-item
  &:hover
    color: $highlighted-color
    background: $highlighted-bg-color
    cursor: pointer

.action-list
  padding-right: $list-vertical-padding
