.action-account-switcher-organization-item:first-child {
  border-left-width: 0 !important;
}

.action-account-switcher-organization-item {
  float: left !important;
  width: 50%;
  text-align: center;
  border-left: 1px solid #e5e5e5 !important;
  background-color: #ededed !important;
}

.action-account-switcher-organization-item:hover {
  background-color: rgba(0, 0, 0, .1) !important;
}

.action-account-switcher-organization-item > a {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
