@import "interfaces/core/variables"

.alert--success
  border-color: $success-color
  color: white
  background-color: $success-color

  &.alert--outline
    background: transparent
    color: $success-color
