.alert ul,
p {
  font-size: 13px;
}

.alert p:last-of-type {
  margin-bottom: 0;
}

.alert ul {
  margin-left: .5em;
  padding-top: 1em;
  padding-left: 1em;
}

.alert li {
  padding: .3em .5em .3em 0;
  border-bottom: 1px solid transparent;
}

.alert li:first-child {
  padding-top: 0;
}

.alert li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
