.app-badge_chevron {
  line-height: 1;
  position: absolute;
  z-index: 10000;
  top: 0;
  right: 0;
  padding: 22px;
  transition: all .12s ease-in-out;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.i-topbar_applist-is-expanded .app-badge_chevron {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  color: #484848;
}

.i-topbar_applist-is-expanded .app-badge_chevron:hover {
  margin: 9px;
  padding: 13px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .1);
}
