@import "interfaces/core/variables"

.badge--success
  border-color: $success-color
  background-color: $success-color
  color: white

  &.badge--outline
    background: transparent
    color: $success-color
