@import "interfaces/variables"

.badge--warning
  border-color: $warning-color
  background-color: $warning-color
  color: $base-font-color

  &.badge--outline
    background: transparent
    color: $base-font-color
