@import "interfaces/core/variables"

.badge--subtle
  border-color: adjust-color($bg-color, $lightness: -7%)
  background-color: adjust-color($bg-color, $lightness: -7%)
  color: $base-font-color

  &.badge--outline
    background: transparent
    color: $base-font-color
