.btn-group-vertical {
  position: relative;
  margin: 0;
  list-style: none;
}

.btn-group-vertical:before,
.btn-group-vertical:after {
  display: table;
  content: ' ';
}

.btn-group-vertical:after {
  clear: both;
}

/* relatives */

.btn-group-vertical > * {
  margin: 0;
}

.btn-group-vertical .btn {
  font-size: 13px;
  display: block;
  margin: -1px 0 0 0;
  padding: 9px 13px;
  text-align: left;
  border-radius: 0;
}

.btn-group-vertical > *:first-child .btn {
  margin-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.btn-group-vertical > *:last-child .btn {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.btn.btn--droptoggle {
  padding: 5px 18px 6px 18px;
}
