.btn {
  font-size: 14px;
  border-radius: 3px;

  vertical-align: middle;

  display: inline-block;
  border-style: solid;
  padding: 10px 20px 11px 20px;

  font-weight: normal;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  cursor: pointer;

  -webkit-appearance: none;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn[disabled] {
  cursor: default;
}

.btn.right {
  margin: 0 0 20px 10px;
}

.btn.btn--small {
  font-size: 12px;
  padding: 9px 18px;
}

.btn.btn--large {
  font-size: 16px;
  padding: 11px 22px 12px 22px;
}

.btn.btn--tiny {
  font-size: 10px;
  padding: 7px 13px;
}

.btn.btn--tiny.btn--square {
  padding-left: 8px;
  padding-right: 8px;
}

.btn.btn--micro {
  font-size: 10px;
  padding: 2px 8px 3px 8px;
}

.btn.btn--expand {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

.btn.btn--first {
  margin-left: 0;
}

.btn.btn--shadow {
  box-shadow: 0 3px 7px -3px rgba(0,0,0,0.7);
}

/* legacy contextual overrides */
.alert .btn { margin-top: -3px }
.alert .btn, .pane--header .btn { margin-bottom: 0 }
