.btn {
  font-size: 14px;
  border-radius: 3px;

  vertical-align: middle;

  display: inline-block;
  border-style: solid;
  padding: 10px 20px 11px 20px;

  font-weight: normal;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  cursor: pointer;

  -webkit-appearance: none;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn[disabled] { cursor: default }
