.item-sidebar-list .list-item {
  display: block;
  border: none;
}

.item-sidebar-list .list-item:hover {
  background-color: rgba(0, 0, 0, .1);
}

.item-sidebar-list .list-item.is-active {
  color: white;
}
