.mobile-topbar {
  display: none;
}

.mobile-topbar *:focus {
  outline: none;
}

@media (max-width: 767px) {
  body:not([data-app-name=services]) .mobile-topbar {
    display: block;
  }

  body:not([data-app-name=services]) .mobile-topbar-app-icon .symbol {
    width: auto;
    height: auto;
    vertical-align: baseline;
    fill: white;
  }
}
