.modal__footer {
  padding: 10px 10px 11px 10px;
  text-align: right;
  border-top: solid 1px #e1e1e1;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.modal__footer:before,
.modal__footer:after {
  display: table;
  content: ' ';
}

.modal__footer:after {
  clear: both;
}
