.modal-layer {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  overflow-y: scroll;
  transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
}
