.modal {
  position: relative;
  display: none;
  margin: 46px auto 0;
  z-index: 1100;
}
@media (max-width: 600px) {
  .modal {
    margin: 3% auto !important;
    width: 94% !important;
    min-width: inherit !important;
    max-width: inherit !important;
  }
}

.modal--open {
  overflow: hidden;
}

.modal--open .modal-layer {
  display: block;
}

.modal--open .modal-layer .modal {
  display: block;
}

.modal-layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, 0, 0);
  display: none;
}

.modal,
.modal--medium {
  max-width: 600px;
}

.modal--small {
  max-width: 500px;
}

.modal--large {
  max-width: 900px;
}

.modal--full {
  width: 95%;
  max-width: 1600px;
}

@media (min-width: 601px) {
  .modal-layer {
    padding: 0 15px;
  }
}
.modal [data-modal-close] {
  cursor: pointer;
}

.modal__header {
  padding: 16px 18px 20px 18px;
}

.modal__body {
  padding: 12px;
}
@media (max-width: 767px) {
  .modal__body {
    height: 100%;
  }
}

.modal__footer {
  padding: 10px 10px 11px 10px;
  text-align: right;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top: solid 1px #e1e1e1;
}
.modal__footer .btn {
  margin-bottom: 0;
}
.modal__footer .btn.left {
  position: relative;
  top: 2px;
  left: 2px;
  margin: 0;
}

.modal-section {
  position: relative;
  padding: 15px 0;
}
.modal-section:before, .modal-section:after {
  content: " ";
  display: table;
}
.modal-section:after {
  clear: both;
}

.modal-loader.preloader {
  position: absolute;
  left: 50%;
  width: 230px;
  margin-left: -115px;
  top: 68px;
}

.modal__band {
  margin: 0 -12px;
  padding: 15px 12px;
}
.modal__band:first-child {
  margin-top: -15px;
}
.modal__band:first-child:last-child {
  margin-bottom: -1px;
}
.modal__band.push, .modal__band .push {
  margin-bottom: 15px;
}
.modal__band .row__child {
  margin: 20px auto;
}
.modal__band:last-child:not(.modal__band--subtle), .modal__band:last-child:not(.modal__band--topper.modal__band) {
  padding-bottom: 0;
}
.modal__band .col:first-of-type {
  padding-left: 0;
}
.modal__band .col:last-of-type {
  padding-right: 0;
  margin-bottom: 0;
}

.modal__band--topper {
  background: #dce9ee;
}
.modal__band--topper .badge {
  margin-right: 8px;
  background: #c7dce4;
  border: 0;
}
@media (min-width: 601px) {
  .modal__band--topper .row.mb0 .col {
    margin-bottom: 0;
  }
}

.modal__band--person {
  height: 130px;
  position: relative;
}
@media (max-width: 600px) {
  .modal__band--person {
    height: 180px;
  }
  .modal__band--person .col {
    margin-bottom: 0;
  }
}
.modal__band--person.modal__band .row {
  margin: 0 8px 0 120px;
}
.modal__band--person label {
  margin-top: 10px;
}
.modal__band--person .palm--full {
  clear: none;
}
.modal__band--person .avatar {
  position: relative;
  z-index: 1;
  border-radius: 100em;
  float: left;
  width: 91px;
  top: 5px;
  left: 7px;
}
.modal__band--person .bg-img-fill {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.modal__band--person .bg-img-fill img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  min-width: 120%;
  margin-top: -50%;
  margin-left: -12%;
  opacity: 0.4;
  filter: blur(30px);
}

.modal--person-details .hover-icon-trigger .col {
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .modal--person-details .block-list.eq-pad .hover-icon-trigger {
    padding: 8px 9px 8px 6px;
  }
  .modal--person-details .block-list.eq-pad .hover-icon-trigger .palm--third:first-child {
    padding-right: 7px;
  }
}
@media (min-width: 768px) {
  .modal--person-details .modal__band--subtle .palm--full {
    margin-bottom: 0;
  }
}

/*CONTENT IN THE TABS SECTIONS */
h4.smaller {
  font-size: 14px;
}

input.mb8 {
  margin-bottom: 8px;
}

@media (min-width: 601px) {
  .col-tighter-pad {
    padding-right: 10px;
  }
}

.field-container.block-list__item {
  border-radius: 3px;
}
.field-container.block-list__item .col {
  margin-bottom: 0;
}

.subtle-bg {
  background: #f4f4f4;
}

/*CONTACT */
.modal--person-details h4.smaller a {
  font-size: 13px;
  padding: 2px 6px 4px 6px;
}
.modal--person-details h4.smaller a [class^="icon-"], .modal--person-details h4.smaller a [class*=" icon-"] {
  font-size: 16px;
  color: #8fbe7d;
  margin-right: 6px;
}

.modal--person-details .has-icon-right > .icon {
  top: 13px;
  right: -3px;
}
.modal--person-details .has-icon-right > .icon .ii-x {
  color: #d1d1d1;
}
.modal--person-details .has-icon-right > .icon:hover .ii-x {
  color: #d65440;
}

/*PERSONAL INFO */
.modal--person-details .pane-group {
  margin-bottom: 0;
}
.modal--person-details .pane-group .pane {
  margin-bottom: -1px;
}
.modal--person-details h4 .badge {
  margin-left: 5px;
}

#personal .modal-well .alert {
  margin: 13px auto 0;
}

/*ATTENDANCE */
#attendance {
  margin-bottom: -12px;
  padding-bottom: 0;
}

.justified-table-wrap {
  margin: 0 -13px 0 -14px;
}

.modal--person-details .events.table {
  margin: 0;
}
.modal--person-details .events.table td:first-child, .modal--person-details .events.table th:first-child {
  padding-left: 20px;
}
.modal--person-details .events.table td:last-child, .modal--person-details .events.table th:last-child {
  padding-right: 20px;
}
.modal--person-details .events.table th {
  border-bottom-width: 1px;
  border-bottom-color: #4287a2;
}
.modal--person-details .events.table td {
  font-size: 12px;
}
.modal--person-details .events.table .event-col {
  width: 160px;
}
.modal--person-details .events.table .text-center {
  text-align: center;
}

.modal-well .modal-section:first-child {
  padding-top: 0;
}

.modal-well .modal-section:last-child {
  padding-bottom: 0;
}

.modal-well .modal-section.modal-section--subtle {
  padding: 15px;
}
.modal-well .modal-section.modal-section--subtle.control-group {
  padding: 7.5px;
}

.modal__header:before, .modal__header:after, .modal__footer:before, .modal__footer:after, .modal__body:before, .modal__body:after {
  content: " ";
  display: table;
}
.modal__header:after, .modal__footer:after, .modal__body:after {
  clear: both;
}

.modal-well .modal-section:last-child {
  padding-bottom: 0;
}

.modal-section {
  padding: 15px 0;
}

.modal-title {
  margin: 0;
  font-size: 19px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 1px 4px rgba(37, 64, 74, 0.5);
}

.modal-well__heading {
  font-size: 1.3em;
  padding-bottom: 8px;
}

.modal-well__sub-heading {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.modal-well {
  position: relative;
  border-radius: 2px;
  background: #fff;
  padding: 12px;
  border: 1px solid #e9e9e9;
}
.modal-well:before, .modal-well:after {
  content: " ";
  display: table;
}
.modal-well:after {
  clear: both;
}
.modal-well p {
  padding: 0;
}
.modal-well p:last-child {
  margin: 0;
}
.modal-well .col:first-of-type {
  padding-left: 0;
}
.modal-well .col:last-of-type {
  padding-right: 0;
}
.modal-well.push-top {
  margin-top: 15px;
}
.modal-well.modal-well--padless {
  padding: 0;
  border: 0;
}
.modal-well.modal-well--naked {
  border-color: transparent;
  background: transparent;
}

.modal-section--subtle {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 3px;
}

.modal-well .row, .modal__band .row {
  margin-left: auto;
  margin-right: auto;
}

.modal__band.full-width-tabs {
  padding: 0;
}
