@import "interfaces/variables"
@import "interfaces/mixin/legacy_queries"
@import "interfaces/mixin/cf"

//==================================== TABS
.nav
  margin: 0
  padding: 0
  list-style: none
  position: relative
  +cf

  > li
    position: relative
    display: block

    > a
      position: relative
      display: block
      padding: 10px 15px

  &.nav-justified
    border-bottom: 0
    width: 100%
    > li
      display: table-cell
      width: 1%
      float: none

.nav-tabs
  border-bottom: 1px solid $border-color

  > li
    float: left
    margin-bottom: -1px

    > a
      margin-right: 2px
      line-height: 1.42857143
      border: 1px solid transparent
      border-radius: 3px 3px 0 0

    &.active > a,
    &.active > a:hover,
    &.active > a:focus
      color: $link-color-hover
      background-color: $modal-window-bg-color
      border: 1px solid $border-color
      border-bottom-color: transparent
      cursor: default


.full-width-tabs
  .nav-tabs > li

    &:first-child
      a
        box-shadow: none

    > a
      transition: all .2s ease-in-out
      text-align: center
      font-size: 11px
      border: 0 !important
      margin: 0
      border-radius: 0
      box-shadow: inset 1px 0 0 rgba($light-gray, 0.8)

    &:not(.active) > a
      background: adjust-color($light-gray, $lightness: 10%)
      color: adjust-color($light-gray, $lightness: -15%)
      &:hover
        color: $link-color-hover
    .icon
      font-size: 25px
      margin-top: .1em
