@import "interfaces/variables";
@import "interfaces/mixin/truncate";
@import "interfaces/mixin/legacy_queries";

//==================================
// PANES, WELLS, AND ACCORDIONS
//==================================

.pane {
  // consider a composite stylesheet for pane-block-list styles
  .block-list {
    margin-bottom: 0;
  }

  .pane__body {
    .list {
      margin: (-13px) -15px -12px;
    }

    .block-list {
      margin: -15px;
    }
  }
}

.pane {
  margin-bottom: 20px;
  background-color: var(--surface-1of1--background-color);
  border: 1px solid transparent;
  border-radius: $default-pane-radius;
  border-color: $border-color;
  transform: translate3d(0, 0, 0);
}

.pane--naked {
  --surface-1of1--background-color: transparent;
}

.pane--muted {
  --surface-1of1--background-color: #{$pane-muted-bg};

  .pane__header {
    background: $pane-muted-header-bg;
    border-bottom-color: adjust-color($pane-muted-header-bg, $lightness: -4%);
  }
}

.pane--full {
  width: 100%;
  display: table;
  margin-bottom: 20px;
}

.pane-group {
  display: table;
  table-layout: fixed;
  margin-bottom: 20px;
  border-radius: $default-pane-radius;
  width: 100%;
  clear: both;

  .pane--split {
    box-shadow: none;

    .pane__header {
      border-radius: 0;
    }

    &:first-of-type .pane__header {
      border-top-left-radius: $default-pane-header-radius;
    }

    &:last-of-type .pane__header {
      border-top-right-radius: $default-pane-header-radius;
    }
  }
}

.pane--split {
  border-radius: 0;
  display: table-cell;
  vertical-align: top;
  border-right-width: 0;

  &[class*="col--"] {
    float: none;
    padding: 0;
  }

  &:first-of-type {
    border-radius: $default-pane-radius 0 0 $default-pane-radius;

    .pane__footer {
      position: relative;
      top: 0;
      border-bottom-left-radius: $default-pane-header-radius;
    }
  }

  &:last-of-type,
  &.last-child {
    border-radius: 0 $default-pane-radius $default-pane-radius 0;
    border-right-width: 1px;

    .pane__footer {
      border-bottom-right-radius: $default-pane-header-radius;
    }
  }

  .pane__footer {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.pane__header, .pane__footer, .pane__body {
  position: relative;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.pane__header {
  padding: 7.5px 7.5px 7.5px 12.5px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: $pane-header-bg-top;
  background-image: linear-gradient(to bottom, $pane-header-bg-top, $pane-header-bg-bottom, $pane-header-bg-top);
  border-bottom: solid 1px adjust-color($pane-header-bg-bottom, $lightness: -7%);
  height: 44px;
  position: relative;

  // when you have multiple headers in a pane, remove the rounded top corners
  &:not(:first-child) {
    border-top: solid 1px adjust-color($pane-header-bg-bottom, $lightness: -7%);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .btn, input {
    margin-bottom: 0;
    border-radius: $default-pane-radius -2px;
  }

  input:focus {
    box-shadow: none;
  }
}

.pane__body {
  padding: 12.5px 15px;
}

.pane__footer {
  padding: 7.5px 12.5px 9px;
  border-bottom-right-radius: $default-pane-radius;
  border-bottom-left-radius: $default-pane-radius;
  background-color: adjust-color($lighter-gray, $lightness: 7%);
  background-image: linear-gradient(to bottom, adjust-color($lighter-gray, $lightness: 7%), adjust-color($lighter-gray, $lightness: 5%));
  border-top: solid 1px adjust-color($lighter-gray, $lightness: -1%);

  .btn {
    margin-bottom: 0;

    &.left:first-child {
      margin-left: -5px;
    }

    &.right:last-child {
      margin-right: -5px;
    }
  }
}

.pane-title {
  margin: 0;

  @include truncate;

  font-size: 18px;
  line-height: 1.6;
  color: inherit;
  display: inline-block;
}

// responsive panes
@include breakpoint(lte_tablet) {
  .pane-group {
    box-shadow: none;
    margin: (-1px) auto 0 auto;
    display: block;

    .pane, .pane__header, .pane__footer {
      border-radius: 0;
    }

    .pane {
      width: auto;
      display: block;
      margin-bottom: 0;
      border-right-width: 1px;
    }
  }
}


//====================================ACCORDIONS
.acc__trigger {
  position: relative;
  margin: 0;
  padding: 0 10px 0 25px;
  font-size: 14px;
  height: 34px;
  line-height: 32.9px;

  // background: adjust-color($sidebar-bg-color, $lightness: -10%)
  border-top: 1px solid adjust-color($sidebar-bg-color, $lightness: -14%);
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  i {
    font-size: 9px;
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -5px;
    transition: all 0.2s linear;
  }

  .acc__title {
    @include truncate;
  }

  &.active-state {
    i {
      trans6form: rotate(90deg);
      color: $link-color-hover;
    }
  }
}

.acc__panel {
  display: none;
  transform: translate3d(0, 0, 0);

  &.active-state {
    border-bottom: 1px solid adjust-color($sidebar-bg-color, $lightness: -14%);
  }
}

.acc__panel__inner {
  padding: 20px;
}

.sidebar {
  .acc__trigger {
    margin-top: -1px;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: adjust-color($sidebar-bg-color, $lightness: -14%);
  }

  .acc__panel__inner {
    padding: 10px 12px 12px 12px;
  }
}

//====================================SIDEBAR
.sb-well {
  position: relative;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.sb-well--padded {
  padding: 10px;
}

//==================================== Blank State Messages
.pane .pane__body .blank-state,
.pane .blank-state {
  margin: 20px;
}

.blank-state {
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.04);
  min-height: 212px;

  &.no-btn {
    min-height: 213px;
  }

  .btn {
    margin: 15px auto 0 auto;
  }

  &.blank-state--push-btm {
    margin-bottom: 12px;
  }
}

.blank-state__msg {
  font-size: 14px;
  margin: 0 auto;
  max-width: 245px;
}

.blank-state__hero {
  font-size: 50px;
  color: adjust-color($base-color, $lightness: 1%, $saturation: -32%);
  display: block;
  margin-bottom: 0.3em;

  &.push-top {
    margin-top: 3%;
  }

  &.upsize {
    font-size: 9px;
    margin-bottom: 0.15em;
  }
}

// @end Blank State Messages
