.topbar {
  line-height: 50px;
  position: relative;
  z-index: 900;
  overflow: visible;
  height: 51px;
  margin: 0 auto;
  background: $base-color;
  border-bottom: 1px solid #313b45;
}

@media (min-width: 0)     {
  body:not([data-app-name=services]) .topbar[data-constraints~=non-mobile] {
    display: none;
  }
}

@media (min-width: 768px) {
  body:not([data-app-name=services]) .topbar[data-constraints~=non-mobile] {
    display: block;
  }
}
