.topbar_applist[data-constraints~=non-mobile] {
  position: absolute;
  top: -3px;
  left: 5px;
  overflow: hidden;
  width: calc(100% - 10px);
  transition: all .12s ease-in;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
}

@media (min-width: 0) {
  .topbar_applist[data-constraints~=non-mobile] {
    visibility: hidden;
    transform: translateY(0);
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .i-topbar_applist-is-expanded .topbar_applist[data-constraints~=non-mobile] {
    visibility: visible;
    transform: translateY(8px);
    opacity: 1;
  }
}

[data-app-name=services].i-topbar_applist-is-expanded .topbar_applist {
  visibility: visible !important;
  transform: translateY(8px);
  opacity: 1 !important;
}
