.topbar_route {
  font-weight: bold;
  transition: all .12s ease-in;
  transition-property: color, background-color;
  color: white !important;
}

.topbar_route:hover,
.topbar_route.is-active {
  background-color: rgba(0, 0, 0, .25);
}

@media (min-width: 0) and (max-width: 767px) {
  body:not([data-app-name=services]) .topbar_route {
    font-size: 14px;
    display: block;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
  }
}

@media (min-width: 768px) {
  body:not([data-app-name=services]) .topbar_route {
    font-size: 12px;
    float: left;
    padding: 0 15px;
    border-right: 1px solid rgba(0, 0, 0, .5);
  }
}

[data-app-name=services] .topbar_route {
  font-size: 12px;
  float: left;
  padding: 0 15px;
  border-right: 1px solid rgba(0, 0, 0, .5);
}
