.topbar_applist {}

.topbar_applist[data-constraints~=non-mobile] {
  border-radius: 2px;
  background-color: white;
  position: absolute;
  top: -3px; left: 5px;
  width: calc(100% - 10px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  transition: all .12s ease-in;
}

@media (min-width: 0) {
  .topbar_applist[data-constraints~=non-mobile] {
    visibility: hidden;
    opacity: 0;

    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .i-topbar_applist-is-expanded .topbar_applist[data-constraints~=non-mobile] {
    visibility: visible;
    opacity: 1;

    transform: translateY(8px);
  }
}

[data-app-name=services].i-topbar_applist-is-expanded .topbar_applist {
  visibility: visible !important;
  opacity: 1 !important;

  transform: translateY(8px);
}
