.topbar_route_icon {
  font-size: 22px;
  margin-right: 8px;
  transition: all .12s ease-in;
  vertical-align: -5px;
  color: black;
}

/* parent */

.topbar_route:hover .topbar_route_icon,
.topbar_route.is-active .topbar_route_icon {
  color: white;
}

@media (min-width: 0) {
  .topbar_route_icon {
    display: none;
  }
}

@media (min-width: 980px) {
  .topbar_route_icon {
    display: inline;
  }
}
