.topbar_applist_icon {
  display: block;
  float: left;
  width: 27px;
  height: 27px;
  background: transparent image-url('interfaces/icons/app_icons.png') 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
  .topbar_applist_icon {
    background-image: image-url('interfaces/icons/app_icons@2x.png');
    background-size: 27px 270px;
  }
}
