@import "interfaces/_mixins/legacy_respond"

$class: 'tab-content'

.#{$class}
  display: none
  padding: 1rem

.#{$class}.is-open
  display: block

// respond

@include legacy_respond_at(sm)
  .#{$class}
    padding: 3rem
