$tip-background-color:    #111 !default
$tip-color:               #fff !default
$tip-font-size:           12px !default
$tip-padding:             5px  !default
$tip-border-radius:       2px  !default
$tip-z-index:             1000 !default
$tip-transition-duration: 0.3s !default
$tip-visible-opacity:     0.8  !default

$tip-caret-height: ($tip-font-size / 2)   !default
$tip-body-offset:  ($tip-font-size * 2)   !default
$tip-caret-offset: ($tip-font-size * 1.5) !default

// no implementation
.has-tip:not([data-tip])
  &:after
    content: "WARNING: You need to add a `data-tip` attribute"

  &:hover
    &:before
      border-color: red transparent

    &:after
      background-color: red

// no content
.has-tip[data-tip=""]
  &:hover
    &:before,
    &:after
      visibility: hidden

.has-tip
  position: relative
  line-height: ($tip-font-size)
  display: inline-block

  &:before,
  &:after
    position: absolute

    z-index: $tip-z-index
    display: block
    visibility: hidden
    opacity: 0

    font-size: $tip-font-size

  &:before
    content: ""

    border-color: $tip-background-color transparent
    border-style: solid
    border-width: $tip-caret-height $tip-caret-height 0 $tip-caret-height

  &:after
    padding: $tip-padding ($tip-padding * 3)

    content: attr(data-tip)

    background-color: $tip-background-color
    color: $tip-color
    white-space: nowrap
    border-radius: $tip-border-radius

  &:hover
    text-decoration: none

    &:before,
    &:after
      visibility: visible
      opacity: $tip-visible-opacity


  &.tip--multiline
    &:after
      white-space: normal
      line-height: ($tip-font-size * 1.5)
      width: 200px

  &.tip--top,
  &
    &:before
      top: auto
      right: 50%
      bottom: 0
      left: auto
      transform: translate(50%, -($tip-caret-offset))

    &:after
      top: auto
      right: 50%
      bottom: 0
      left: auto
      transform: translate(50%, -($tip-body-offset))

    &.tip--anchor-right
      &:before,
      &:after
        right: 10%

    &.tip--anchor-left
      &:before,
      &:after
        right: 90%

    &.tip--flow-right
      &:before
        transform: translate(50%, -($tip-caret-offset))
      &:after
        transform: translate(90%, -($tip-body-offset))

    &.tip--flow-left
      &:before
        transform: translate(50%, -($tip-caret-offset))
      &:after
        transform: translate(10%, -($tip-body-offset))

  &.tip--bottom
    &:before
      top:    0
      right:  50%
      bottom: auto
      left:   auto
      transform: translate(50%, $tip-caret-offset)

      border-width: 0 $tip-caret-height $tip-caret-height $tip-caret-height

    &:after
      top:    0
      right:  50%
      bottom: auto
      left:   auto
      transform: translate(50%, $tip-body-offset)

    &.tip--anchor-right
      &:before,
      &:after
        right: 10%

    &.tip--anchor-left
      &:before,
      &:after
        right: 90%

    &.tip--flow-right
      &:before
        transform: translate(50%, $tip-caret-offset)
      &:after
        transform: translate(90%, $tip-body-offset)

    &.tip--flow-left
      &:before
        transform: translate(50%, $tip-caret-offset)
      &:after
        transform: translate(10%, $tip-body-offset)

  &.tip--right
    &:before
      top:     ($tip-caret-height / 3)
      right:  -($tip-caret-height)
      bottom: auto
      left:   auto
      border-width: $tip-caret-height $tip-caret-height $tip-caret-height 0
      transform: translate(100%, 0)

    &:after
      top:    -($tip-caret-height / 2)
      right:  -($tip-caret-height * 2)
      bottom: auto
      left:   auto
      transform: translate(100%, 0)

    &:hover:before
      border-color: transparent $tip-background-color

  &.tip--left
    &:after
      top:    -($tip-caret-height / 2)
      right:  auto
      bottom: auto
      left:   -($tip-caret-height * 2)
      transform: translate(-100%, 0)

    &:before
      top:    ($tip-caret-height / 3)
      right:  auto
      bottom: auto
      left:   -($tip-caret-height)
      border-width: $tip-caret-height 0 $tip-caret-height $tip-caret-height
      transform: translate(-100%, 0)

    &:hover:before
      border-color: transparent $tip-background-color
