doctype html

html.no-js lang="en"
  = render '/layouts/interfaces/partials/head'

  body
    = interfaces_wrap do
      = interfaces_header do
        li
          a href="/organization"
            span.icon.interfaces-services aria-hidden="true"
            span.btn-label Organization
        li.divider
        li
          a href="/subscriptions"
            span.icon.interfaces-resources aria-hidden="true"
            span.btn-label Applications
        li.divider
        li
          a href="/payment_method"
            span.icon.interfaces-projector aria-hidden="true"
            span.btn-label Payment Options
        li.divider

      = interfaces_content do
        = interfaces_main do
          = yield

        = interfaces_sidebar do
          = render "layouts/interfaces/partials/sidebar"

    = interfaces_footer do
      ' Designed in CA
      span.pco-ui-pco aria-hidden="true"
      '  Copyright 2014

    = interfaces_helpdesk

    = javascript_include_tag "application"
    = javascript_include_tag "interfaces/interfaces"
