{{#pane_modifiers}}
  {{> _pane_modified}}
{{/pane_modifiers}}

<table class="table">
  {{#pane_modifiers}}
  <tr>
    <td>
      <pre>
        <code> pane {{modifier}} </code>
      </pre>
    </td>
    <td> {{description}} </td>
  </tr>
  {{/pane_modifiers}}
</table>
