//======================================================
// All rules pertaining to screens greater than 61.3em or ~980px
//======================================================
@media (min-width: 61.25em)
  //======================================Account Info
  .top-bar .has-acct-dropdown .dropdown li:after
    right: 83px 

  .top-bar .utilities > li span
    display: inline-block //Bring back the account icons

  //Acct dropdown med screens
  #toggle-account-details
    display: none

  .top-bar .top-bar-section .account-info
    width: 275px
    padding-right: 10px
    > ul li
      border: 0
    a:hover
      background: transparent

    .identity 
      li
        line-height: 1.1
        a
          line-height: 1.1

      .section-heading
        +truncate
        +font-size(10)
        border-bottom: 0
        margin: 11px 0 1px 0
        color: adjust-color($base-color, $lightness: -49%, $saturation: -45%)
        span
          display: inline-block
          width: 1px
          height: 10px
          margin: 0 4px
          position: relative
          top: 2px
          background: adjust-color($base-color, $lightness: 22%, $saturation: 1%)
        a
          font-size: inherit
          color: #fff
          height: auto
          min-height: 5px
          padding: 0

    .utilities
      line-height: 1
      > li
        display: inline-block
      a
        display: inline-block
        line-height: 1
        height: auto
        min-height: 5px
        padding: 0
        +font-size(10)