.app-badge {
  width: 225px;
  height: 100%;
  background-color: #484848;
  float: left;
  position: relative;
  z-index: 11000;
  cursor: pointer;

  transition: all .12s ease-in-out;
}

.app-badge:hover {
  background-color: #222;
}

@media (min-width: 0) {
  body:not([data-app-name=services]) .app-badge[data-constraints~=non-mobile] {
    display: none;
  }
}

@media (min-width: 768px) {
  body:not([data-app-name=services]) .app-badge[data-constraints~=non-mobile] {
    display: initial;
  }
}

@media (min-width: 1600px) {
  body:not([data-app-name=services]) .app-badge[data-constraints~=non-mobile] {
    width: 260px;
  }
}

[data-app-name=services] .app-badge {
  width: 209px !important;
  height: 51px;
}
