.topbar_applist_icon
  display: block
  float: left
  width: 27px
  height: 27px
  background: transparent image-url("interfaces/icons/app_icons.png") 0 0
  +image-2x("interfaces/icons/app_icons@2x.png", 27px, 240px)
