<div
  class="account-switcher_container"
  onclick="$(this).closest('.user-badge').toggleClass('is-expanded')">
  <div class="account-switcher">
    <%= react_component "ConnectedPersonMenuContainer",
                        {
                          currentPersonId: Person.current.account_center_id,
                          currentPersonName: Person.current.name,
                          currentPersonOrganizationName: Person.current.organization.name,
                          currentPersonProfilePath: profile_path,
                          railsAppName: profile_path,
                          railsEnv: Rails.env
                        } %>
  </div>
</div>
