<div
  class="account-switcher_container"
  onclick="$(this).closest('.user-badge').toggleClass('is-expanded')">
  <div class="account-switcher">
    <div class="account-switcher-organization-list">
      <%= render "interfaces/account_switcher_organization_list" %>
    </div>
    <% if connected_people.length > 1 %>
      <a
      class="account-switcher_unlink_link"
      href="<%= PCO::URL.accounts "unlink" %>">
        Unlink Accounts
        <i class="intrefaces interfaces-unlink"></i>
      </a>
    <% end %>
  </div>
</div>
