<head>
  <meta charset="utf-8">
  <meta content="" name="description">
  <meta content="" name="Planning Center Online UI Boilerplate">
  <meta content="True" name="HandheldFriendly">

  <title><%= @page_title || '' %></title>

  <%# CSS %>
  <%= stylesheet_link_tag "application" %>

  <%# JS %>
  <%= interfaces_js_environment person: person, organization: organization %>
  <%= javascript_include_tag "application" %>

  <%# Icons %>
  <%# 16x16 %>
  <link href="/favicon.ico" rel="shortcut icon">
  <%# 32x32 %>
  <link href="/favicon.png" rel="shortcut icon">
  <%# 57x57 (precomposed) for iPhone 3GS pre-2011 iPod Touch and older Android devices %>
  <link href="/assets/images/interfaces/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
  <%# 72x72 (precomposed) for 1st generation iPad iPad 2 and iPad mini %>
  <link href="/assets/images/interfaces/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <%# 114x114 (precomposed) for iPhone 4 4S 5 and post-2011 iPod Touch %>
  <link href="/assets/images/interfaces/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <%# 144x144 (precomposed) for iPad 3rd and 4th generation %>
  <link href="/assets/images/interfaces/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">

  <%# iOS %>
  <meta content="width=device-width initial-scale=1.0" name="viewport">
  <meta content="320 and Up" name="apple-mobile-web-app-title">
  <meta content="initial-scale=1.0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="images/interfaces/apple-touch-icon-144x144-precomposed.png" name="msapplication-TileImage">
  <meta content="#3476a8" name="msapplication-TileColor">
</head>
