- icon_name = Rails.application.class.parent_name.underscore.dasherize

.top-bar.js-dropwrap
  .top-bar__contents.clearfix
    .title-area
      / Title Area
      .app-switcher-wrap.js-togglehelper
        =# link_to '<span class="icon-accounts-logo" aria-hidden="true"></span>'.html_safe, '/', id: 'logo', class: 'bookmark', :title => "Link to Planning Center Accounts Home", :tabindex => "1"
        #logo.bookmark{ class: "icon-#{icon_name}-logo", "aria-hidden" => "true"}
        / - if current_organization.subscribed_apps.any?
        .app-switcher
          .toggle-btn
            .chevron
          .menu-wrap
            .toggle-btn-cover
              %span.interfaces-remove.interfaces-close
            %ul
              - available_apps = @current_person.organization.subscribed_apps
              - available_apps.each_with_index do |app, index|
                %li{ class: [app.name.downcase, (:omega if index + 1 == available_apps)] }
                  %a{ href: app.url }
                    %span.icon{ "aria-hidden" => "true" }
                    %em planning center
                    = app.name

      #toggle-sidebar.menu-icon.show-for-mobile
        %a{href: "#"}
          %span.title Sidebar
          %span.interfaces-cog{"aria-hidden" => "true"}

      #toggle-topbar.js-droptoggle.menu-icon.show-for-mobile
        %a{href: "#"}
          %span.title Menu
          %span.interfaces-menu{"aria-hidden" => "true"}

    %section.top-bar-section
      / Main Navi Area
      .top-nav-options
        %nav.global-nav.lefty{"role" => "menubar", :title => "Main Site Navigation"}
          %ul
            %li.divider
            = yield

        %div.account-info.righty.js-dropwrap
          %span.avatar
            %a.photo{href: "/people/1"}
              %img{alt: "Missing", height: "24", src: "https://www.planningcenteronline.com/photos/icon/missing.png", width: "24"}
          #toggle-account-details.js-droptoggle
            %span.interfaces-caret{ "aria-hidden" => "true"}
          #account-details
            %ul.identity
              %li.section-heading
                %a{href: "/people/1"} PiCO Das Robot
                %span |
                First Church Of Carlsbad
            %ul.utilities
              %li
                %a{href: "http://accounts.pco.dev/administration"}
                  %span.interfaces-admin
                  admin
              %li
                %a{href: "/organization"}
                  %span.interfaces-cog
                  settings
              %li
                %a.dialogify{href: "/help", width: "600"}
                  %span.interfaces-faq
                  help
              %li.js-dropwrap.has-acct-dropdown
                %a.js-droptoggle
                  %span.interfaces-enclosed-caret
                  accounts
                %ul.acct-dropdown
                  %li.account-options.section-heading
                    %span.a
                      Account Options
                    %a.log{href: "http://accounts.pco.dev/logout"}
                      logout
                    %a.unlink{"data-confirm" => "Are you sure you want to unlink these accounts?", href: "http://accounts.pco.dev/unlink"}
                      %span.outline Unlink
                      the following accounts
                  %li.accounts
                    %a.acct{href: "http://accounts.pco.dev/link/new?to=1"}
                      %span.current.badge.success Current
                      .desc.truncate First Church Of Carlsbad
                    %a.acct.last{href: "http://accounts.pco.dev/link/new?to=4"}
                      %span.switch.badge Switch to
                      .desc.truncate Second Church Of Carlsbad
