div.top-bar.js-dropwrap
  div.top-bar__contents.clearfix
    div.title-area
      / Title Area
      div.app-switcher-wrap[data-app-list="toggle"]
        div#logo.bookmark class="icon-#{app_name}-logo" aria-hidden="true"

        div.app-switcher
          div.toggle-btn[data-app-list="show"]
            div.chevron
          div.menu-wrap
            div.toggle-btn-cover[data-app-list="hide"]
              span.interfaces-remove
            ul
              - available_apps.each do |name|
                li class=[name.downcase, (:omega if available_apps.length == 1)]
                  a href="#{PCO::URL.send(name.downcase.underscore)}"
                    span.icon aria-hidden="true"
                    em planning center
                    = name

      div#toggle-sidebar.menu-icon.show-for-mobile
        a href="#"
          span.title Sidebar
          span.interfaces-cog aria-hidden="true"

      div#toggle-topbar.js-droptoggle.menu-icon.show-for-mobile
        a href="#"
          span.title Menu
          span.interfaces-menu aria-hidden="true"

    section.top-bar-section
      / Main Navi Area
      div.top-nav-options
        nav.global-nav.lefty role="menubar" title="Main Site Navigation"
          ul
            li.divider
            = yield

        div.account-info.righty.js-dropwrap
          span.avatar
            - if Person.current.present?
              a.photo href="/people/#{Person.current.id}"
                - if Person.current.avatar_url.present?
                  img alt="Avatar" height="24" src="#{Person.current.avatar_url}" width="24"
                - elsif Person.const_defined?('MISSING_AVATAR_PATH')
                  img alt="Avatar" height="24" src="#{Person::MISSING_AVATAR_PATH}" width="24"
                - else
                  img alt="Missing" height="24" src="https://www.planningcenteronline.com/photos/icon/missing.png" width="24"
            - else
              span.photo
                img alt="Missing" height="24" src="https://www.planningcenteronline.com/photos/icon/missing.png" width="24"

          div#toggle-account-details.js-droptoggle
            span.interfaces-caret aria-hidden="true"

          div#account-details
            ul.identity
              - if Person.current.present?
                li.section-heading
                  - if app_name == "account-center"
                    a href='#'= Person.current.name
                  - else
                    a href="/people/#{Person.current.id}"= Person.current.name
                  span
                  = Organization.current

            ul.utilities
              - if Person.current.present? && Person.current.organization_id == 1
                li
                  a href="/administration"
                    span.interfaces-admin
                    | admin
              li
                a#jsLaunchHelpdesk
                  span.interfaces-faq
                  | help
              li
                a.log href="#{PCO::URL.accounts}/logout"
                  span.interfaces-logout
                  | logout
