= javascript_include_tag "//helpdesk.planningcenteronline.com/embed.js"

- if helpdesk_name
  javascript:

    Helpdesk.appName = "#{helpdesk_name}";
    Helpdesk.accountCenterUserId = "#{Person.current.try(:account_center_id) || Person.current.try(:id)}";
    Helpdesk.accountCenterOrganizationId = "#{Organization.current.try(:account_center_id) || Organization.current.try(:id)}";

    $(document).on('click', '#jsLaunchHelpdesk', function() {
      Helpdesk.load()
      return false
    });

- else
  javascript:
    console.warn('The interfaces_helpdesk helper has not been implemented in this app. See `app/views/intefaces/_helpdesk.slim` in Interfaces');
