= javascript_include_tag "//mct-helpdesk.herokuapp.com/embed.js"

if helpdesk_name
  javascript:
    var enableHelpdesk = function() {
      $('#jsLaunchHelpdesk').on('click', function() {
        Helpdesk.load()
        return false
      });
    }
    Helpdesk.appName = "#{helpdesk_name}";
    Helpdesk.accountCenterUserId = "#{Person.current.try(:account_center_id) || Person.current.try(:id)}";
    Helpdesk.accountCenterOrganizationId = "#{Organization.current.try(:account_center_id) || Organization.current.try(:id)}";
    enableHelpdesk()

- else
  javascript:
    console.warn('The interfaces_helpdesk helper has not been implemented in this app. See `app/views/intefaces/_helpdesk.slim` in Interfaces');
