<span class="avatar">
  <% if Person.current.present? %>
    <a
      class="photo"
      href="/people/<%= Person.current.id %>">
      <% if Person.current.avatar_url.present? %>

        <img
          alt="Avatar"
          width="24"
          height="24"
          src="<%= square_avatar(Person.current.avatar_url) %>" />

      <% elsif Person.const_defined?('MISSING_AVATAR_PATH') %>

        <img
          alt="Avatar"
          width="24"
          height="24"
          src="<%= Person::MISSING_AVATAR_PATH %>" />

      <% else %>

        <img
          alt="Missing"
          width="24"
          height="24"
          src="https://www.planningcenteronline.com/photos/icon/missing.png" />

      <% end %>
    </a>

  <% else %>

    <span class="photo">
      <img
        alt="Missing"
        width="24"
g       height="24"
        src="https://www.planningcenteronline.com/photos/icon/missing.png" />
    </span>

  <% end %>
</span>
