<h1>Badge</h1>
<p>Tell people what's up.</p>
<hr />

<section class="doc-section">
  <%= react_component "BadgeBuilder" %>
</section>


<section class="doc-section">
  <h1>Badge &ndash; Size and Shape (deprecated)</h1>
</section>

<section class="doc-section">
  <h1><pre>badge.badge--small</pre></h1>

  <%= code_sample do %>
    <div class="badge badge--small">small</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>badge.badge--tiny</pre></h1>

  <%= code_sample do %>
    <div class="badge badge--tiny">tiny</div>
  <% end %>
</section>
