<h1>Button</h1>
<p>Tell people where to go and what to do.</p>
</hr />

<section class="doc-section">
  <%= react_component "ButtonBuilder" %>
</section>

<section class="doc-section">
  <h1><pre>btn-group</pre></h1>

  <p>JavaScript-backed list-items</p>

  <%= code_sample do %>
<ul class="btn-group">
  <li class="btn">First</li>
  <li class="btn">Second</li>
  <li class="btn">Third</li>
</ul>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>btn-group</pre></h1>

  <p>List with nested anchor syntax</p>

  <%= code_sample do %>
<ul class="btn-group">
  <li>
    <a class="btn" href="#">First</a>
  </li>
  <li>
    <a class="btn" href="#">Second</a>
  </li>
  <li>
    <a class="btn" href="#">Third</a>
  </li>
</ul>
  <% end %>
</section>
