<h1> Flex helpers </h1>

<p> There are a couple flex helpers that make layout a breeze. </p>

<hr />

<h3><code>.flex-stack</code></h3>

<p> .flex-stack is a great starting place most of the time. It provides a flex container, and sizes direct children to be flex: 1 by default. Each direct child is stacked on mobile. You may use any of the classe on this page to further customize .flex-stack.</p>

<h4> Default stacks of 2 and 4 </h4>

<div class="flex-stack p_2r">
  <div class="gc-l.9">two</div>
  <div class="gc-l.8">two</div>
</div>

<br />

<div class="flex-stack p_2r">
  <div class="gc-l.9">three</div>
  <div class="gc-l.8">three</div>
  <div class="gc-l.7">three</div>
</div>

<br />

<h4> bigger/small content boxes</h4>

<div class="flex-stack p_2r">
  <div class="gc-l.9">default</div>
  <div class="gc-l.8 f-3">.f-3</div>
</div>

<br />

<div class="flex-stack p_2r">
  <div class="gc-l.9 f-3">.f-3</div>
  <div class="gc-l.8">default</div>
  <div class="gc-l.7 f-3">.f-3</div>
</div>
