<section class="doc-section">
  <h1>Form Elements</h1>
  <p>Tell people where they can put things.</p>
</section>

<section class="doc-section">
  <h1><pre>input[type="text"]</pre></h1>

  <%= code_sample do %>
<label for="first_name">First Name</label>
<input type="text" id="first_name" placeholder="Your first name" />
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.checkbox / .checkbox-label</pre></h1>

  <%= code_sample do %>
<input class="checkbox" id="happy" type="checkbox" />
<label class="checkbox-label" for="happy">Currently Happy</label>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.radio / .radio-label</pre></h1>

  <%= code_sample do %>
<input class="radio" id="kinda-happy" name="happy-radio-group" type="radio" />
<label class="radio-label" for="kinda-happy">Kinda Happy</label>
<input class="radio" id="wicked-happy" name="happy-radio-group" type="radio" />
<label class="radio-label" for="wicked-happy">Wicked Happy</label>
<input class="radio" id="pharrell-happy" name="happy-radio-group" type="radio" />
<label class="radio-label" for="pharrell-happy">Pharrell Williams</label>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.select</pre></h1>

  <%= code_sample do %>
<select class="select" name="my_select">
  <option value="value1">Value 1</option>
  <option value="value2" selected>Value 2</option>
  <option value="value3">Value 3</option>
</select>
  <% end %>
</section>
