<section class="doc-section">
  <h1>Icon</h1>
  <p>Heaven only knows why the class name is <code>interfaces</code></p>
</section>

<section class="doc-section">
  <h1><pre>.interfaces</pre></h1>

  <%= code_sample_static do %>
    <i class="interfaces interfaces-pico"></i>
  <% end %>

  <h3>Direction</h3>
  <table class="table">
    <tr><td><i class="interfaces interfaces-caret"      ></i></td><td>interfaces-caret      </td><td>Caret</td></tr>
    <tr><td><i class="interfaces interfaces-caret-up"   ></i></td><td>interfaces-caret-up   </td><td>Caret Up</td></tr>
    <tr><td><i class="interfaces interfaces-caret-right"></i></td><td>interfaces-caret-right</td><td>Caret Right</td></tr>
    <tr><td><i class="interfaces interfaces-caret-left" ></i></td><td>interfaces-caret-left </td><td>Caret Left</td></tr>

    <tr><td><i class="interfaces interfaces-caret-down-outline"></i></td><td>interfaces-caret-down-outline</td><td>Caret Down &mdash; Outline</td></tr>
    <tr><td><i class="interfaces interfaces-caret-up-outline"  ></i></td><td>interfaces-caret-up-outline  </td><td>Caret Up   &mdash; Outline</td></tr>

    <tr><td><i class="interfaces interfaces-enclosed-caret"></i></td><td>interfaces-enclosed-caret</td><td>Enclosed Caret</td></tr>
  </table>

  <br />

  <h3>Apps</h3>
  <table class="table">
    <tr><td><i class="interfaces interfaces-accounts"     ></i></td><td>interfaces-accounts     </td><td>Accounts</td></tr>
    <tr><td><i class="interfaces interfaces-announcements"></i></td><td>interfaces-announcements</td><td>Announcements</td></tr>
    <tr><td><i class="interfaces interfaces-check-ins"    ></i></td><td>interfaces-check-ins    </td><td>Check-Ins</td></tr>
    <tr><td><i class="interfaces interfaces-giving"       ></i></td><td>interfaces-giving       </td><td>Giving</td></tr>
    <tr><td><i class="interfaces interfaces-music-stand"  ></i></td><td>interfaces-music-stand  </td><td>Music Stand</td></tr>
    <tr><td><i class="interfaces interfaces-people-logo"  ></i></td><td>interfaces-people-logo  </td><td>People Logo</td></tr>
    <tr><td><i class="interfaces interfaces-projector"    ></i></td><td>interfaces-projector    </td><td>Projector</td></tr>
    <tr><td><i class="interfaces interfaces-registrations"></i></td><td>interfaces-registrations</td><td>Registrations</td></tr>
    <tr><td><i class="interfaces interfaces-resources"    ></i></td><td>interfaces-resources    </td><td>Resources</td></tr>
    <tr><td><i class="interfaces interfaces-services"     ></i></td><td>interfaces-services     </td><td>Services</td></tr>
  </table>

  <br />

  <h3>Other</h3>
  <table class="table">
    <tr><td><i class="interfaces interfaces-admin"        ></i></td><td>interfaces-admin        </td><td>Admin</td></tr>
    <tr><td><i class="interfaces interfaces-attendee"     ></i></td><td>interfaces-attendee     </td><td>Attendee</td></tr>

    <tr><td><i class="interfaces interfaces-check"     ></i></td><td>interfaces-check     </td><td>Check</td></tr>
    <tr><td><i class="interfaces interfaces-check-disc"></i></td><td>interfaces-check-disc</td><td>Check Disc</td></tr>
    <tr><td><i class="interfaces interfaces-cog"       ></i></td><td>interfaces-cog       </td><td>Cog</td></tr>

    <tr><td><i class="interfaces interfaces-delete"></i></td><td>interfaces-delete</td><td>Delete</td></tr>
    <tr><td><i class="interfaces interfaces-drag"  ></i></td><td>interfaces-drag  </td><td>Drag</td></tr>

    <tr><td><i class="interfaces interfaces-edit" ></i></td><td>interfaces-edit </td><td>Edit</td></tr>
    <tr><td><i class="interfaces interfaces-event"></i></td><td>interfaces-event</td><td>Event</td></tr>
    <tr><td><i class="interfaces interfaces-email"></i></td><td>interfaces-email</td><td>Email</td></tr>

    <tr><td><i class="interfaces interfaces-faq"        ></i></td><td>interfaces-faq        </td><td>FAQ</td></tr>
    <tr><td><i class="interfaces interfaces-folder"     ></i></td><td>interfaces-folder     </td><td>Folder</td></tr>
    <tr><td><i class="interfaces interfaces-folder-open"></i></td><td>interfaces-folder-open</td><td>Folder Open</td></tr>

    <tr><td><i class="interfaces interfaces-geo-location"></i></td><td>interfaces-geo-location</td><td>Location</td></tr>

    <tr><td><i class="interfaces interfaces-logout"    ></i></td><td>interfaces-logout    </td><td>Logout</td></tr>
    <tr><td><i class="interfaces interfaces-logo-stack"></i></td><td>interfaces-logo-stack</td><td>Stack Logo</td></tr>

    <tr><td><i class="interfaces interfaces-menu"></i></td><td>interfaces-menu</td><td>Menu</td></tr>

    <tr><td><i class="interfaces interfaces-notice-disc"></i></td><td>interfaces-notice-disc</td><td>Notice Disc</td></tr>

    <tr><td><i class="interfaces interfaces-pico"       ></i></td><td>interfaces-pico       </td><td>Pico</td></tr>
    <tr><td><i class="interfaces interfaces-plus"       ></i></td><td>interfaces-plus       </td><td>Plus</td></tr>
    <tr><td><i class="interfaces interfaces-person"     ></i></td><td>interfaces-person     </td><td>Person</td></tr>
    <tr><td><i class="interfaces interfaces-person-edit"></i></td><td>interfaces-person-edit</td><td>Edit Person</td></tr>
    <tr><td><i class="interfaces interfaces-people"     ></i></td><td>interfaces-people     </td><td>People</td></tr>
    <tr><td><i class="interfaces interfaces-print"      ></i></td><td>interfaces-print      </td><td>Print</td></tr>
    <tr><td><i class="interfaces interfaces-payment"    ></i></td><td>interfaces-payment    </td><td>Payment</td></tr>
    <tr><td><i class="interfaces interfaces-profile"    ></i></td><td>interfaces-profile    </td><td>Profile</td></tr>
    <tr><td><i class="interfaces interfaces-phone"      ></i></td><td>interfaces-phone      </td><td>Phone</td></tr>

    <tr><td><i class="interfaces interfaces-question-circle-outline"></i></td><td>interfaces-question-circle-outline</td><td>Question Circle &mdash; Outline</td></tr>

    <tr><td><i class="interfaces interfaces-remove"></i></td><td>interfaces-remove</td><td>Remove</td></tr>

    <tr><td><i class="interfaces interfaces-switch"></i></td><td>interfaces-switch</td><td>Switch</td></tr>

    <tr><td><i class="interfaces interfaces-trash"></i></td><td>interfaces-trash</td><td>Trash</td></tr>

    <tr><td><i class="interfaces interfaces-unlink"></i></td><td>interfaces-unlink</td><td>Unlink</td></tr>
    <tr><td><i class="interfaces interfaces-upload"></i></td><td>interfaces-upload</td><td>Upload</td></tr>

    <tr><td><i class="interfaces interfaces-warning"></i></td><td>interfaces-warning</td><td>Warning</td></tr>
    <tr><td><i class="interfaces interfaces-search" ></i></td><td>interfaces-search </td><td>Search</td></tr>
  </table>
</section>
