h1.docs-page-title Icons

section.docs-section.clearfix
  markdown:
    - Use the `interfaces` class for icons.
    - Typically, you'll use an icon as an inline element, such as a `span`. <!--- We should consider requiring aria-hidden="true" for all icon elements for accessibility niceness -->
    - Add the modifier class for the icon you need.

  .row:.col:pre.code-sample-static.language-markup:code
    = render_source 'interfaces/templates/icons'

  ruby:
    icon_modifiers = {
      icon_modified: [
        { modifier: 'interfaces-pico', description: 'Pico'},
        { modifier: 'interfaces-services', description: 'Services'},
        { modifier: 'interfaces-resources', description: 'Resources'},
        { modifier: 'interfaces-projector', description: 'Projector'},
        { modifier: 'interfaces-music-stand', description: 'Music Stand'},
        { modifier: 'interfaces-accounts', description: 'Accounts'},
        { modifier: 'interfaces-check-ins', description: 'Check-Ins'},
        { modifier: 'interfaces-logo-stack', description: 'Stack Logo'},
        { modifier: 'interfaces-announcements', description: 'Announcements'},
        { modifier: 'interfaces-menu', description: 'Menu'},
        { modifier: 'interfaces-search', description: 'Search'},
        { modifier: 'interfaces-check-disc', description: 'Check Disc'},
        { modifier: 'interfaces-notice-disc', description: 'Notice Disc'},
        { modifier: 'interfaces-faq', description: 'FAQ'},
        { modifier: 'interfaces-delete', description: 'Delete'},
        { modifier: 'interfaces-remove', description: 'Remove'},
        { modifier: 'interfaces-plus', description: 'Plus'},
        { modifier: 'interfaces-check', description: 'Check'},
        { modifier: 'interfaces-cog', description: 'Cog'},
        { modifier: 'interfaces-caret', description: 'Caret'},
        { modifier: 'interfaces-caret-up', description: 'Caret Up'},
        { modifier: 'interfaces-caret-right', description: 'Caret Right'},
        { modifier: 'interfaces-caret-left', description: 'Caret Left'},
        { modifier: 'interfaces-enclosed-caret', description: 'Enclosed Caret'},
        { modifier: 'interfaces-logout', description: 'Logout'},
        { modifier: 'interfaces-edit', description: 'Edit'},
        { modifier: 'interfaces-person', description: 'Person'},
        { modifier: 'interfaces-attendee', description: 'Attendee'},
        { modifier: 'interfaces-admin', description: 'Admin'},
        { modifier: 'interfaces-person-edit', description: 'Edit Person'},
        { modifier: 'interfaces-people', description: 'People'},
        { modifier: 'interfaces-folder', description: 'Folder'},
        { modifier: 'interfaces-folder-open', description: 'Folder Open'},
        { modifier: 'interfaces-upload', description: 'Upload'},
        { modifier: 'interfaces-print', description: 'Print'},
        { modifier: 'interfaces-warning', description: 'Warning'},
        { modifier: 'interfaces-event', description: 'Event'},
        { modifier: 'interfaces-drag', description: 'Drag'},
        { modifier: 'interfaces-payment', description: 'Payment'},
        { modifier: 'interfaces-profile', description: 'Profile'},
        { modifier: 'interfaces-phone', description: 'Phone'},
        { modifier: 'interfaces-geo-location', description: 'Location'},
        { modifier: 'interfaces-email', description: 'Email'},
      ]
    }

  = render 'interfaces/templates/icons/icon_modified_list', :mustache => icon_modifiers
