<section class="doc-section">
  <h1>Hi, I'm Interfaces</h1>
  <p>
    I'll assist you in building a Planning Center app. I have a few solutions to
    shared problems and a library of reusable UI components.
  </p>
</section>
