%h2.section-header Meaty Forms
%form
  .form-group
    %label Input Label
    %input{placeholder: "Yo Homie. I'm Full width", type: "text"}
  .form-group
    .col.col--onethird
      %label Input Label
      %input{placeholder: "Yo Homie. I'm 33.33 ad infinitum", type: "text"}
    .col.col--onethird
      %label Input Label
      %input{placeholder: "Yo Homie. I'm 33.33 ad infinitum", type: "text"}
    .col.col--onethird
      %label Input Label
      %input{placeholder: "Yo Homie. I'm 33.33 ad infinitum", type: "text"}

  .form-group
    .col.col--half
      %label Select2 Box
      %select
        %option{value: "capicola"} Capicola
        %option{value: "prosciutto"} Prosciutto
        %option{value: "kielbasa"} Kielbasa
        %option{value: "salami"} Salami
        %option{value: "capicola"} Strip steak
        %option{value: "prosciutto"} Tenderloin
        %option{value: "kielbasa"} Venison
        %option{value: "salami"} Ttri-tip
        %option{value: "capicola"} Sirloin
        %option{value: "prosciutto"} Bacon
        %option{value: "kielbasa"} Biltong
        %option{value: "salami"} Frankfurter
    .col.col--half
      %label Select2 Box No Search Input
      %select.select2--nosearch
        %option{value: "capicola"} Capicola
        %option{value: "prosciutto"} Prosciutto
        %option{value: "kielbasa"} Kielbasa
        %option{value: "salami"} Salami      

  .form-group
    %label Select2 Multi Select
    %select{ "multiple" => "" }
      %option{value: "capicola"} Capicola
      %option{value: "prosciutto"} Prosciutto
      %option{value: "kielbasa"} Kielbasa
      %option{value: "salami"} Salami
      %option{value: "capicola"} Strip steak
      %option{value: "prosciutto"} Tenderloin
      %option{value: "kielbasa"} Venison
      %option{value: "salami"} Tri-tip
      %option{value: "capicola"} Sirloin
      %option{value: "prosciutto"} Bacon
      %option{value: "kielbasa"} Biltong
      %option{value: "salami"} Frankfurter

  .form-group
    .col.col--half
      %label Choose Your Favorite
      %input#meaty1{name: "meaty", type: "radio", value: "Pastrami"}
      %label{for: "meaty1"} Pastrami
      %input#meaty2{name: "meaty", type: "radio", value: "Pork belly"}
      %label{for: "meaty2"} Pork belly

    .col.col--half
      %label Check these out
      %input#checkbox1{type: "checkbox"}
      %label{for: "checkbox1"} Checkbox 1
      %input#checkbox2{type: "checkbox"}
      %label{for: "checkbox2"} Checkbox 2
  
  .form-group
    %label Textarea Label
    %textarea{placeholder: "Yo Homie. I'm Full width"}

.hr

%h2.section-header Modals
%p
  %a.btn{href: "", "data-reveal-id" => "exModal"}
    Default Modal
  %a.btn{href: "", "data-reveal-id" => "exModalmed"}
    Med-sized Modal
//==============
//MODAL    
//==============
#exModal.reveal-modal{"data-reveal" => ""}
  .modal__header
    %h2.modal-title Awesome. I have it.
    / %a.close-reveal-modal ×
  .modal__body
    %p.lead This is a standard sized modal.
    %p Im a cool paragraph that lives inside of an even cooler modal. Wins
  .modal__footer
    %a.btn.btn-secondary.left{href: "", "data-reveal-id" => "exModalmed"}
      Launch 2nd Modal  
    %a.btn.btn-danger.btn-outline.close-reveal-modal{href: ""}
      Cancel
    %a.btn.btn-success{href: ""}
      Accept

#exModalmed.reveal-modal.medium{"data-reveal" => ""}
  .modal__header
    %h2.modal-title I am modified with a class of .medium
    / %a.close-reveal-modal ×
  .modal__body
    %p.lead The dialogs are responsive by default. If you need to you can modify the size with the following classes: (This modal has been modified to be smaller than the default elastic width.)
    %ul
      %li small: Set the width to 30%
      %li medium: Set the width to 40%
      %li large: Set the width to 60%
      %li xlarge: Set the width to 70%
      %li expand: Set the width to 95%
  .modal__footer
    %a.btn.btn-danger.btn-outline.close-reveal-modal{href: ""}
      Cancel
    %a.btn.btn-success{href: ""}
      Accept


.hr

%h2.section-header Tables
%h3.section-sub-header Default table (.table)
%table.table
  %thead
    %tr
      %th Rank
      %th Cut Name
      %th Animal
      %th Flavor Index
  %tbody
    %tr
      %td 1
      %td Prosciutto
      %td Swine
      %td +++++
    %tr
      %td 2
      %td Sirloin
      %td Bovine
      %td +++++      
    %tr
      %td 3
      %td Salami
      %td ???
      %td ++++
.page-section      
  .col.col--half
    %h3.section-sub-header Table with Zebra Striping
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Rank
            %th Cut Name
            %th Animal
            %th Flavor Index
        %tbody
          %tr
            %td 1
            %td Prosciutto
            %td Swine
            %td +++++
          %tr
            %td 2
            %td Sirloin
            %td Bovine
            %td +++++      
          %tr
            %td 3
            %td Salami
            %td ???
            %td ++++  
  .col.col--half
    %h3.section-sub-header Bordered, Hoverable, and TH .th-fill
    .table-responsive
      %table.table-th-fill.table.table-bordered.table-hover
        %thead
          %tr
            %th Rank
            %th Cut Name
            %th Animal
            %th Flavor Index
        %tbody
          %tr
            %td 1
            %td Prosciutto
            %td Swine
            %td +++++
          %tr
            %td 2
            %td Sirloin
            %td Bovine
            %td +++++      
          %tr
            %td 3
            %td Salami
            %td ???
            %td ++++    
%h3.section-sub-header Add All the Styles
%table.table-th-fill.table.table-bordered.table-striped.table-hover.table-radius{"cellspacing" => "0"}
  %thead
    %tr
      %th Rank
      %th Cut Name
      %th Animal
      %th Flavor Index
  %tbody
    %tr
      %td 1
      %td Prosciutto
      %td Swine
      %td +++++
    %tr
      %td 2
      %td Sirloin
      %td Bovine
      %td +++++      
    %tr
      %td 3
      %td Salami
      %td ???
      %td ++++
