<section class="doc-section">
  <h1>Media Object</h1>
  <p>The single most beautiful peace of reusable CSS that has ever been written.</p>
</section>

<section class="doc-section">
  <h1><pre>.media</pre></h1>

  <%= code_sample do %>
<div class="media">
  <img alt="me"
       class="img"
       src="https://www.planningcenteronline.com/photos/icon/missing.png" />

  <div class="bd">
    <p>The media object.</p>
    <span>@chantastic 14 minutes ago</span>
  </div>
</div>
  <% end %>
</section>
