<section class="doc-section">
  <h1>Modal Path</h1>
  <p>Link and launch a modal.</p>
  <p>Modal path is a part of the data-api that allows you to link to a page and launch a remote modal simultaniously.</p>
</section>

<section class="doc-section">
  <pre>/#modal-path=</pre>

  <%= code_sample do %>
<a
 class="btn btn--default"
 href="/styleguide/#modal-path=/styleguide/sample_modal">
  Link with modal
</a>
  <% end %>
</section>
