<section class="doc-section">
  <h1>Rails Helpers</h1>
  <p>You deserve a little help</p>
</section>

<section class="doc-section">
  <h1><pre>interfaces_header</pre></h1>

  <%= code_sample_static do %>
    interfaces_header(&block)
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>interfaces_footer</pre></h1>

  <%= code_sample_static do %>
    interfaces_footer(options = {}, &block)
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>modal_trigger</pre></h1>

  <%= code_sample_static do %>
    modal_trigger(modal_id, options = {}, &block)
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>modal</pre></h1>

  <%= code_sample_static do %>
    modal(modal_id, options = {}, &block)
  <% end %>
</section>
