<section class="doc-section">
  <h1>Table</h1>
  <p>For anything but layout</p>
</section>

<section class="doc-section">
  <h1><pre>.table</pre></h1>

  <%= code_sample do %>
<table class="table">
  <thead>
    <tr>
      <th>First Name</th> <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Michael</td> <td>Chan</td>
    </tr>
    <tr>
      <td>Shane</td> <td>Armitage</td>
    </tr>
  </tbody>
</table>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.table.table-bordered</pre></h1>

  <%= code_sample do %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>First Name</th> <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Michael</td> <td>Chan</td>
    </tr>
    <tr>
      <td>Shane</td> <td>Armitage</td>
    </tr>
  </tbody>
</table>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.table.table-th-filled</pre></h1>

  <%= code_sample do %>
<table class="table table-th-fill">
  <thead>
    <tr>
      <th>First Name</th> <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Michael</td> <td>Chan</td>
    </tr>
    <tr>
      <td>Shane</td> <td>Armitage</td>
    </tr>
  </tbody>
</table>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.table.table-striped</pre></h1>

  <%= code_sample do %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th> <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Michael</td> <td>Chan</td>
    </tr>
    <tr>
      <td>Shane</td> <td>Armitage</td>
    </tr>
  </tbody>
</table>
  <% end %>
</section>
