section
  markdown:
    ## Basics [#](#basics)
    {: #position }

    There are two pieces required to implement a successful tooltip:

    {: style="margin-left: 20px"}
    * Add the `has-tip` class to your element
    * Add a `data-tip` attribute with your tip text

    [tip](#){: class="has-tip" data-tip="SUCH TIPS!"}_: default_  
    [tip](#){: class="has-tip"}_: no `data-tip` attribute warning_  
    [tip](#){: class="has-tip" data-tip=""}_: no `data-tip` text(should not fire)_  

    An empty `data-tip` attribute will prevent the tip from displaying.  This keeps empty tips from showing on generated or asyncronous views.

  =code_sample_static
    a.has-tip href="#" data-tip="has-tip" SUCH TIPS!

hr

section
  markdown:
    ## Position [#](#position)
    {: #position }

    Control the display position of your tip.  By defualt, tips are positioned above the the element you are tiping.  Positioning allows you to modify that with the these classes:

    {: style="margin-left: 20px" }
    * `tip--top`
    * `tip--right`
    * `tip--bottom`
    * `tip--left`

    [position](#){: class="has-tip" data-tip="(default positioning)" }  
    [position](#){: class="has-tip tip--top" data-tip="has-tip tip--top" }_: top_  
    [position](#){: class="has-tip tip--right" data-tip="has-tip tip--right" }_: right_  
    [position](#){: class="has-tip tip--bottom" data-tip="has-tip tip-bottom" }_: bottom_  
    [position](#){: class="has-tip tip--left" data-tip="has-tip tip-left" }_: left_  

  =code_sample_static
    a.has-tip.tip--top href="#" data-tip="has-tip tip--top" TOP TIPS!

hr

section
  markdown:
    ## Anchors [#](#anchor)
    {: #anchor }

    Control the anchor point of your tip.  By defualt, tips are anchored to the center point of the element you are tiping. Anchoring allows you to modify that anchor point with these classes:

    {: style="margin-left: 20px" }
    * `tip--anchor-right`
    * `tip--anchor-left`

    As you might expect, anchor control only works and `top` and `bottom`.

    #### Top

    [anchor](#){: class="has-tip tip--anchor-left" data-tip="has-tip tip--anchor-left" }_: anchor left_  
    [anchor](#){: class="has-tip tip--anchor-right" data-tip="has-tip tip--anchor-right" }_: anchor right_  

    #### Bottom

    [anchor](#){: class="has-tip tip--bottom tip--anchor-left" data-tip="has-tip tip--bottom tip--anchor-left" }_: anchor left_  
    [anchor](#){: class="has-tip tip--bottom tip--anchor-right" data-tip="has-tip tip--bottom tip--anchor-right" }_: anchor right_  

  =code_sample_static
    a.has-tip.tip--anchor-right href="#" data-tip="SO ANCHOR" anchored right

hr

section
  markdown:
    ## Flow [#](#flow)
    {: #flow }

    Control the way tips flow in your layout.  By default, tips flow evenly from the center.  Flow allows you to modify that with these classes:

    {: style="margin-left: 20px" }
    * `tip--flow-right`
    * `tip--flow-left`

    As you might expect, flow control only works and `top` and `bottom`.

    #### Top

    [flow](#){: class="has-tip tip--flow-left" data-tip="has-tip tip--flow-left" }_: flow left_  
    [flow](#){: class="has-tip tip--flow-right" data-tip="has-tip tip--flow-right" }_: flow right_  

    #### Bottom

    [flow](#){: class="has-tip tip--bottom tip--flow-left" data-tip="has-tip tip--bottom tip--flow-left" }_: flow left_  
    [flow](#){: class="has-tip tip--bottom tip--flow-right" data-tip="has-tip tip--bottom tip--flow-right" }_: flow right_  

  =code_sample_static
    a.has-tip.tip--flow-left href="#" data-tip="SUCH LEFT" lefty tip

hr

section
  markdown:
    ## Anchor + Flow [#](#anchor-and-flow)
    {: #anchor-and-flow }

    Anchor and flow may be combined for tons of control over your tips.

    #### Top: Anchored Left

    [anchor + flow](#){: class="has-tip tip--anchor-left tip--flow-left" data-tip="has-tip tip--anchor-left tip--flow-left" }_: flow left_  
    [anchor + flow](#){: class="has-tip tip--anchor-left tip--flow-right" data-tip="has-tip  tip--anchor-left tip--flow-right" }_: flow right_  

    #### Top: Anchored Right

    [anchor + flow](#){: class="has-tip tip--anchor-right tip--flow-left" data-tip="has-tip  tip--anchor-right tip--flow-left" }_: flow right_  
    [anchor + flow](#){: class="has-tip tip--anchor-right tip--flow-right" data-tip="has-tip  tip--anchor-right tip--flow-right" }_: flow right_  

    #### Bottom: Anchored Left

    [anchor + flow](#){: class="has-tip tip--bottom tip--anchor-left tip--flow-left" data-tip="tip--anchor-left tip--flow-left" }_: flow-left_  
    [anchor + flow](#){: class="has-tip tip--bottom tip--anchor-left tip--flow-right" data-tip="tip--anchor-left tip--flow-right" }_: flow-right_  

    #### Bottom: Anchored Right

    [anchor + flow](#){: class="has-tip tip--bottom tip--anchor-right tip--flow-left" data-tip="tip--anchor-right tip--flow-left" }_: flow-left_  
    [anchor + flow](#){: class="has-tip tip--bottom tip--anchor-right tip--flow-right" data-tip="tip--anchor-right tip--flow-right" }_: flow-right_  

  =code_sample_static
    a.has-tip.tip--anchor-left.tip--flow-right href="#" data-tip="MUCH CONTROL!" To the left. To the left

hr

section
  markdown:
    ## Multiline [#](#multiline)
    {: #multiline }

    Multiline allows you to comfortable show more than a single line tooltip.  It's pretty straight forword.  Adding class `tip--multiline` will give you tip that wraps at 200px wide. All other modifers may be used in combination

    ### Default

    [miltiline](#){: class="has-tip tip--multiline" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }  

    ### Top

    [multiline](#){: class="has-tip tip--top tip--multiline tip--anchor-left tip--flow-left" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: anchor left, flow left_  
    [multiline](#){: class="has-tip tip--top tip--multiline tip--anchor-left" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: anchor left_  
    [multiline](#){: class="has-tip tip--top tip--multiline tip--anchor-left tip--flow-right" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: anchor left, flow right_  
    [multiline](#){: class="has-tip tip--top tip--multiline tip--flow-left" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: flow left_  
    [multiline](#){: class="has-tip tip--top tip--multiline" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }  
    [multiline](#){: class="has-tip tip--top tip--multiline tip--flow-right" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: flow right  
    [multiline](#){: class="has-tip tip--top tip--multiline tip--anchor-right tip--flow-left" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: anchor right, flow left_  
    [multiline](#){: class="has-tip tip--top tip--multiline tip--anchor-right" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: anchor right_  
    [multiline](#){: class="has-tip tip--top tip--multiline tip--anchor-right tip--flow-right" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_:anchor right, flow right_  

    ### Right
    [multiline](#){: class="has-tip tip--right tip--multiline" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }  

    ### Bottom

    [multiline](#){: class="has-tip tip--bottom tip--multiline tip--anchor-right tip--flow-right" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: anchor right, flow right_  
    [multiline](#){: class="has-tip tip--bottom tip--multiline tip--anchor-right" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: anchor right_  
    [multiline](#){: class="has-tip tip--bottom tip--multiline tip--anchor-right tip--flow-left" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: anchor right, flow left_  
    [multiline](#){: class="has-tip tip--bottom tip--multiline tip--flow-right" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: flow right_  
    [multiline](#){: class="has-tip tip--bottom tip--multiline" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }  
    [multiline](#){: class="has-tip tip--bottom tip--multiline tip--flow-left" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: flow left_  
    [multiline](#){: class="has-tip tip--bottom tip--multiline tip--anchor-left tip--flow-right" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: anchor left, flow right_  
    [multiline](#){: class="has-tip tip--bottom tip--multiline tip--anchor-left" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: anchor left_  
    [multiline](#){: class="has-tip tip--bottom tip--multiline tip--anchor-left tip--flow-left" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }_: anchor left, flow left_  

    ### Left

    [multiline](#){: class="has-tip tip--left tip--multiline" data-tip="ABCD EFGH IJKLM NOPQ RSTU VWXYZ. ABCD EFGH IJKLM NOPQ RSTU VWXYZ." }  

  =code_sample_static
    a.has-tip.tip--multiline href="#" data-tip="SO MULTI!" Multiline

hr

section
  markdown:
    ## Additional Uses + Edge Cases

hr

section
  markdown:
    ## TODO [#](#todo)
    {: #todo }

    {: style="margin-left: 20px"}
    * `anchor-top`, `anchor-bottom` for muliline `right` and `left` tips
    * IE8 fallback
    * Add additive `tip--disable` for programatic silencing
    * moderizr `.touch` exlusion option
