<h1>Utility Classes</h1>
<p><strong>THIS API IS DEPRECATED. Please use <a href="https://github.com/chantastic/minions.css/tree/master/src">minions.css</a> classes instead.</p>

<section class="doc-section">
  <h2>Text</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Class</th>
        <th>Effect</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><code>.text-left</code></td>
        <td>Aligns inline text left.</td>
      </tr>
      <tr>
        <td><code>.text-center</code></td>
        <td>Aligns inline text center</td>
      </tr>
      <tr>
        <td><code>.text-right</code></td>
        <td>Aligns inline text right</td>
      </tr>
    </tbody>
  </table>
</section>

<section class="doc-section">
  <h2>Float</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Class</th>
        <th>Effect</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><code>.left</code></td>
        <td>Floats content left</td>
      </tr>
      <tr>
        <td><code>.right</code></td>
        <td>Floats content right</td>
      </tr>
      <tr>
        <td><code>.clear</code></td>
        <td>Clear floats</td>
      </tr>
      <tr>
        <td><code>.clfx</code></td>
        <td>Clearable float element</td>
      </tr>
      <tr>
        <td><code>.clearfix (depricated)</code></td>
        <td>This is the <strong>old</strong> clearfix. <br /> But somehow <code>position:relative</code> snuck in. It's remains in interfaces to support legacy layouts.</td>
      </tr>
    </tbody>
  </table>
</section>
