<table class="table">
  {{#tooltip_modifiers}}
  <tr>
    <td>
      {{> _tooltip_modified}}
    </td>

    <td>
      <code>
        has-tip {{#modifier}}{{modifier}}{{/modifier}} {{#second_modifier}}{{second_modifier}}{{/second_modifier}}
      </code>
    </td>

    <td>
      {{#description}}
        {{description}}
      {{/description}}
      {{^description}}
        {{tip}}
      {{/description}}
    </td>
  </tr>
  {{/tooltip_modifiers}}
</table>
