.badge--small
  font-size: 1.1rem
.badge--tiny
  font-size: 1rem
  padding: 4px
  margin-right: 8px
  border: 0
  line-height: 1.2
.badge--square
  height: 18px
  width: 18px
.badge--inline
  margin-left: .8rem
