---
title: Sup PiCO
---
/ %h1 This is an h1
/ %h2 This is an h2
/ %h3 This is an h3
/ %p
/   Hello world! This is HTML5 
/   %span.hide-from-mobile
/     Boilerplate.
%p
  %a.button{href: ""}
    Button
  %a.button.secondary{href: ""}
    Button 2
  %a.button.success{href: ""}
    Button Success
  %a.button.danger{href: ""}
    Button  
%p
  %a.button.outline{href: ""}
    Button
  %a.button.outline.secondary{href: ""}
    Button 2
  %a.button.outline.success{href: ""}
    Button Success
  %a.button.outline.danger{href: ""}
    Button  

%h1 Button Groups
%ul.button-group
  %li
    %a.button{href: "#"} Button 1
  %li
    %a.button{href: "#"} Button 2
  %li
    %a.button{href: "#"} Button 3