---
title: Sup PiCO
---
/ %h1 This is an h1
/ %h2 This is an h2
/ %h3 This is an h3
/ %p
/   Hello world! This is HTML5 
/   %span.hide-from-mobile
/     Boilerplate.
%p
  %a.button{href: ""}
    Button
  %a.button.secondary{href: ""}
    Button 2
  %a.button.success{href: ""}
    Button Success
  %a.button.danger{href: ""}
    Button  
%p
  %a.button.outline{href: ""}
    Button
  %a.button.outline.secondary{href: ""}
    Button 2
  %a.button.outline.success{href: ""}
    Button Success
  %a.button.outline.danger{href: ""}
    Button  

%h1 Button Groups
%ul.button-group
  %li
    %a.button{href: "#"} Button 1
  %li
    %a.button{href: "#"} Button 2
  %li
    %a.button{href: "#"} Button 3

%form
  .form-group
    %label Input Label
    %input{placeholder: "Yo Homie. I'm Full width", type: "text"}
  .form-group
    .col.col--onethird
      %label Input Label
      %input{placeholder: "Yo Homie. I'm 33.33 ad infinitum", type: "text"}
    .col.col--onethird
      %label Input Label
      %input{placeholder: "Yo Homie. I'm 33.33 ad infinitum", type: "text"}
    .col.col--onethird
      %label Input Label
      %input{placeholder: "Yo Homie. I'm 33.33 ad infinitum", type: "text"}

  .form-group
    %label Select Box
    %select
      %option{value: "capicola"} Capicola
      %option{value: "prosciutto"} Prosciutto
      %option{value: "kielbasa"} Kielbasa
      %option{value: "salami"} Salami

  .form-group
    .col.col--half
      %label Choose Your Favorite
      %input#meaty1{name: "meaty", type: "radio", value: "Pastrami"}
      %label{for: "meaty1"} Pastrami
      %input#meaty2{name: "meaty", type: "radio", value: "Pork belly"}
      %label{for: "meaty2"} Pork belly

    .col.col--half
      %label Check these out
      %input#checkbox1{type: "checkbox"}
      %label{for: "checkbox1"} Checkbox 1
      %input#checkbox2{type: "checkbox"}
      %label{for: "checkbox2"} Checkbox 2
  
  .form-group
    %label Textarea Label
    %textarea{placeholder: "Yo Homie. I'm Full width"}    