---
title: Sup PiCO
---
/ %h1 This is an h1
/ %h2 This is an h2
/ %h3 This is an h3
/ %p
/   Hello world! This is HTML5 
/   %span.hide-from-mobile
/     Boilerplate.
%h2.section-header Buttons
%p
  %a.btn{href: ""}
    Button
  %a.btn.btn-secondary{href: ""}
    Button 2
  %a.btn.btn-success{href: ""}
    Button Success
  %a.btn.btn-danger{href: ""}
    Button  
%p
  %a.btn.outline{href: ""}
    Button
  %a.btn.btn-outline.btn-secondary{href: ""}
    Button 2
  %a.btn.btn-outline.btn-success{href: ""}
    Button Success
  %a.btn.btn-outline.btn-danger{href: ""}
    Button  

%h3 Button Groups
%ul.btn-group
  %li
    %a.btn{href: "#"} Button 1
  %li
    %a.btn{href: "#"} Button 2
  %li
    %a.btn{href: "#"} Button 3

%h3 Split Button / Dropdown
.dropdown
  %a.btn.btn-dropdown.dropdown-toggle{href: "#"}
    Dropdown Button
    %span.dropdown-indicator
      %i.caret{"aria-hidden" => "true"} 
  %ul.dropdown__menu{"data-dropdown-content" => ""}
    / %li.dropdown__header This is an example of a header
    %li
      %a{href: "#"} This is a link
    / %li.divider
    %li
      %a{href: "#"} This is another great link
    %li
      %a{href: "#"} Yet another    

%h2.section-header Meaty Forms
%form
  .form-group
    %label Input Label
    %input{placeholder: "Yo Homie. I'm Full width", type: "text"}
  .form-group
    .col.col--onethird
      %label Input Label
      %input{placeholder: "Yo Homie. I'm 33.33 ad infinitum", type: "text"}
    .col.col--onethird
      %label Input Label
      %input{placeholder: "Yo Homie. I'm 33.33 ad infinitum", type: "text"}
    .col.col--onethird
      %label Input Label
      %input{placeholder: "Yo Homie. I'm 33.33 ad infinitum", type: "text"}

  .form-group
    %label Select Box
    %select
      %option{value: "capicola"} Capicola
      %option{value: "prosciutto"} Prosciutto
      %option{value: "kielbasa"} Kielbasa
      %option{value: "salami"} Salami

  .form-group
    .col.col--half
      %label Choose Your Favorite
      %input#meaty1{name: "meaty", type: "radio", value: "Pastrami"}
      %label{for: "meaty1"} Pastrami
      %input#meaty2{name: "meaty", type: "radio", value: "Pork belly"}
      %label{for: "meaty2"} Pork belly

    .col.col--half
      %label Check these out
      %input#checkbox1{type: "checkbox"}
      %label{for: "checkbox1"} Checkbox 1
      %input#checkbox2{type: "checkbox"}
      %label{for: "checkbox2"} Checkbox 2
  
  .form-group
    %label Textarea Label
    %textarea{placeholder: "Yo Homie. I'm Full width"}
