<table class="table">
  {{#grid_modified_list}}
  <tr>
    <td>
      <code>
        col {{#modifier}}{{modifier}}{{/modifier}}
      </code>
    </td>

    <td>
      {{#description}}
        {{description}}
      {{/description}}
    </td>
  </tr>
  {{/grid_modified_list}}
</table>
