<div class="row">
	<div class="col col--half">
		{{{col_half}}}
	</div>
	<div class="col col--half">
		{{{col_half}}}
	</div>
</div>

<div class="row">
	<div class="col col--third">
		{{{col_third}}}
	</div>
	<div class="col col--third">
		{{{col_third}}}
	</div>
	<div class="col col--third">
		{{{col_third}}}
	</div>
</div>