<div class="row">
	<div class="col col--third tab--half">
		<!-- your content goes here -->
		<div class="grid-demo">
			I'm full-width on mobile, half-width on tablets, and a third on everything else.
		</div>
	</div>
	<div class="col col--two-thirds tab--half">
		<!-- your content goes here -->
		<div class="grid-demo">
			I'm full-width on mobile, half-width on tablets, and a two-thirds on everything else.
		</div>
	</div>
</div>