<div class="row">
	<div class="col col--half">
		<label>{{label}}</label>
		<input placeholder="{{placeholder}}" type="text" />
	</div>
	<div class="col col--half">
		<label>{{label}}</label>
		<input placeholder="{{placeholder}}" type="text" />
	</div>
</div>

<div class="row">
	<div class="col">
		<label>{{label}}</label>
		<textarea placeholder="{{placeholder}}"></textarea>
	</div>
</div>