<div class="media attribution">
  <img class="img" src="https://www.planningcenteronline.com/photos/icon/missing.png" alt="me" />

  <div class="bd">
    <p>SUCH MEDIA!</p>
    <span>@chantastic 14 minutes ago</span>
  </div>
</div>
