<div class="modal" id="sampleModal">
  <div class="modal__header">
    <div class="modal-title">Edit Person</div>
  </div>

  <div class="modal__body">
    New componoents and awesomeness
  </div>

  <div class="modal__footer">
  </div>
</div>
