<!-- bad -->
<div class="modal">
  <p> some of your template </p>
</div>
<div>
  <p> more of your template </p>
</div>
<script> document.doTheThing() </script>


<!-- good -->
<div class="modal">
  <p> some of your template </p>
  <p> more of your template </p>

  <script> document.doTheThing() </script>
</div>
