<div class="pane">
  <div class="pane__header">
    <div class="pane-title">
      {{header}}
    </div>
  </div>

  <div class="pane__body">
    {{{body}}}
  </div>

  <div class="pane__footer">
    {{{footer}}}
  </div>
</div>
