<div class="pane">
  <div class="pane__body">

    <ul class="block-list">

      {{#block_list_items}}
      <li class="block-list__item">{{item}}</li>
      {{/block_list_items}}

    </ul>

  </div>
</div>
