<div class="pane-group">
	<div class="pane pane--split col--quarter">
		<div class="pane__header">
			<div class="pane-title">I'm the pane header.</div>
		</div>
		<div class="pane__body">
			<p>I'm a quarter wide.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		</div>
		<div class="pane__footer">
			I'm the pane footer.
		</div>
	</div>

	<div class="pane pane--split col--half">
		<div class="pane__header">
			<div class="pane-title">I'm the pane header.</div>
		</div>
		<div class="pane__body">
			<p>I'm a half wide.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		</div>
		<div class="pane__footer">
			I'm the pane footer.
		</div>
	</div>

	<div class="pane pane--split col--quarter">
		<div class="pane__header">
			<div class="pane-title">I'm the pane header.</div>
		</div>
		<div class="pane__body">
			<p>I'm a quarter wide.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		</div>
		<div class="pane__footer">
			I'm the pane footer.
		</div>
	</div>
</div>