<table class="table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Cut Name</th>
      <th>Animal</th>
      <th>Flavor Index</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Prosciutto</td>
      <td>Swine</td>
      <td>+++++</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Sirloin</td>
      <td>Bovine</td>
      <td>+++++</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Salami</td>
      <td>???</td>
      <td>+++</td>
    </tr>
  </tbody>
</table>