.dropdown
  position: relative
  @extend %inline-block

  .dropdown__menu
    display: none
    background: #fff
    z-index: 200
    margin-top: 1px
    +border-radius(3px)
    +box-shadow(0 1px 6px rgba(adjust-color($basecolor, $lightness: -10, $saturation: -49), 0.45))
    +abs-pos(100%, auto, auto, auto)
    min-width: 200px
    &:after
      content: ""
      display: block
      width: 0
      height: 0
      border: inset 6px
      border-color: transparent transparent white transparent
      border-bottom-style: solid
      position: absolute
      top: -12px
      left: 10px
      z-index: 99
  &.active-state .dropdown__menu
    display: block

